In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
merged_df = pd.read_csv('merged.csv')

In [3]:
merged_df.describe()

,customer_id,loan_term,interest_rate,loan_to_value_ratio,loan_officer_id,cust_num,debt_to_income_ratio,debt_service_ratio,payment_to_income_ratio,credit_utilization,...,application_id,application_hour,application_day_of_week,account_open_year,random_noise_1,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing,default
count,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,...,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000
mean,54999.000000,132.369204,11.278835,0.273598,1045.791587,54999.000000,0.531225,0.531225,0.305673,0.440818,...,594846.054934,11.475539,2.993755,2016.497517,0.000091,8.814387,1.994544,0.713308,0.620262,0.051045
std,25980.617776,152.657187,4.607331,0.378284,32.327924,25980.617776,0.379553,0.379553,0.365596,0.183609,...,28850.062092,6.901162,2.005926,4.020588,0.997134,3.823459,1.413004,0.452219,0.485324,0.220091
min,10000.000000,0.000000,2.500000,0.000000,995.000000,10000.000000,0.054000,0.054046,0.002000,0.013000,...,544794.000000,0.000000,0.000000,2010.000000,-4.091319,1.000000,0.000000,0.000000,0.000000,0.000000
25%,32499.500000,12.000000,6.960000,0.000000,1010.000000,32499.500000,0.296000,0.295993,0.077000,0.306000,...,569870.500000,6.000000,1.000000,2013.000000,-0.671945,6.000000,1.000000,0.000000,0.000000,0.000000
50%,54999.000000,48.000000,11.290000,0.000000,1048.000000,54999.000000,0.424000,0.423515,0.169000,0.434000,...,594901.000000,11.000000,3.000000,2017.000000,0.003168,8.000000,2.000000,1.000000,1.000000,0.000000
75%,77498.500000,360.000000,14.820000,0.725000,1077.000000,77498.500000,0.628000,0.627591,0.384000,0.566000,...,619775.500000,17.000000,5.000000,2020.000000,0.668945,11.000000,3.000000,1.000000,1.000000,0.000000
max,99998.000000,360.000000,22.800000,0.970000,1099.000000,99998.000000,4.630000,4.630482,4.526000,1.000000,...,644793.000000,23.000000,6.000000,2023.000000,5.236351,34.000000,11.000000,1.000000,1.000000,1.000000

In [4]:
def percent_missing(df):
    percent_nan = 100*df.isnull().sum()/len(df)
    percent_nan = percent_nan[percent_nan > 0].sort_values(ascending=False)
    return percent_nan

In [5]:
percent_missing(merged_df)

employment_length         2.503361
revolving_balance         1.530017
num_delinquencies_2yrs    0.924455
dtype: float64

In [6]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 68 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customer_id                 89999 non-null  int64
 1   loan_type                   89999 non-null  object
 2   loan_amount                 89999 non-null  object
 3   loan_term                   89999 non-null  int64
 4   interest_rate               89999 non-null  float64
 5   loan_purpose                89999 non-null  object
 6   loan_to_value_ratio         89999 non-null  float64
 7   origination_channel         89999 non-null  object
 8   loan_officer_id             89999 non-null  int64
 9   marketing_campaign          89999 non-null  object
 10  cust_num                    89999 non-null  int64
 11  monthly_income              89999 non-null  object
 12  existing_monthly_debt       89999 non-null  object
 13  monthly_payment             89999 non-null  object
 14  debt_to_income_ratio        89999 non-null  float64
 15  debt_service_ratio          89999 non-null  float64
 16  payment_to_income_ratio     89999 non-null  float64
 17  credit_utilization          89999 non-null  float64
 18  revolving_balance           88622 non-null  object
 19  credit_usage_amount         89999 non-null  object
 20  available_credit            89999 non-null  object
 21  total_monthly_debt_payment  89999 non-null  object
 22  annual_debt_payment         89999 non-null  float64
 23  loan_to_annual_income       89999 non-null  float64
 24  total_debt_amount           89999 non-null  object
 25  monthly_free_cash_flow      89999 non-null  object
 26  cust_id                     89999 non-null  int64
 27  age                         89999 non-null  int64
 28  annual_income               89999 non-null  object
 29  employment_length           87746 non-null  float64
 30  employment_type             89999 non-null  object
 31  education                   89999 non-null  object
 32  marital_status              89999 non-null  object
 33  num_dependents              89999 non-null  int64
 34  id                          89999 non-null  int64
 35  state                       89999 non-null  object
 36  regional_unemployment_rate  89999 non-null  float64
 37  regional_median_income      89999 non-null  int64
 38  regional_median_rent        89999 non-null  float64
 39  housing_price_index         89999 non-null  float64
 40  cost_of_living_index        89999 non-null  float64
 41  previous_zip_code           89999 non-null  int64
 42  customer_number             89999 non-null  int64
 43  credit_score                89999 non-null  int64
 44  num_credit_accounts         89999 non-null  int64
 45  oldest_credit_line_age      89999 non-null  float64
 46  oldest_account_age_months   89999 non-null  float64
 47  total_credit_limit          89999 non-null  float64
 48  num_delinquencies_2yrs      89167 non-null  float64
 49  num_inquiries_6mo           89999 non-null  int64
 50  recent_inquiry_count        89999 non-null  int64
 51  num_public_records          89999 non-null  int64
 52  num_collections             89999 non-null  int64
 53  account_diversity_index     89999 non-null  float64
 54  customer_ref                89999 non-null  int64
 55  application_id              89999 non-null  int64
 56  application_hour            89999 non-null  int64
 57  application_day_of_week     89999 non-null  int64
 58  account_open_year           89999 non-null  int64
 59  preferred_contact           89999 non-null  object
 60  referral_code               89999 non-null  object
 61  account_status_code         89999 non-null  object
 62  random_noise_1              89999 non-null  float64
 63  num_login_sessions          89999 non-null  int64
 64  num_customer_service_calls  89999 non-null  int64
 65  has_mobile_app              89999 non-null  int64
 66  paperless_billing           89999 non-null  int64
 67  default                     89999 non-null  int64
dtypes: float64(19), int64(27), object(22)
memory usage: 46.7+ MB

In [7]:
merged_df['loan_type'].value_counts()

loan_type
Personal         9097
Personal Loan    9061
personal         9050
PERSONAL         9024
Mortgage         7919
Home Loan        7850
MORTGAGE         7841
mortgage         7819
Credit Card      5698
CreditCard       5659
credit card      5497
CC               5484
Name: count, dtype: int64

In [15]:
# merged_df->cust_id, id, customer_number, customer_ref

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign,...,account_open_year,preferred_contact,referral_code,account_status_code,random_noise_1,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing,default
0,10000,Personal,"$17,700",36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W,...,2013,Mail,REF0000,ACT-2,1.137099,13,2,1,1,0
1,10001,mortgage,"$114,000",180,6.83,Refinance,0.774,Branch,1011,B,...,2015,Phone,REF0000,ACT-3,-0.164932,6,1,1,1,1
2,10002,Personal Loan,"9,300",36,13.99,Major Purchase,0.000,Online,1084,K,...,2020,Phone,REF0000,ACT-3,0.526700,1,2,1,0,0
3,10003,PERSONAL,$8700,48,13.26,Medical,0.000,Online,1048,A,...,2010,Email,REF0000,A01,-0.709779,4,1,1,1,0
4,10004,Personal,"$7,200",24,10.77,Debt Consolidation,0.000,Branch,1055,S,...,2020,Mail,REF0000,ACT-3,-0.603132,6,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89994,99994,personal,"$11,300",24,9.70,Home Improvement,0.000,Branch,1050,O,...,2016,Email,REF0000,A01,1.628917,10,3,0,1,0
89995,99995,personal,"16,500",36,11.67,Other,0.000,Branch,1071,D,...,2014,Mail,REF9754,ACTIVE,-0.501960,12,1,1,0,0
89996,99996,Personal Loan,"17,800",36,14.99,Major Purchase,0.000,Online,1046,J,...,2010,Mail,REF0000,A01,-0.964956,4,2,1,1,1
89997,99997,Credit Card,$11700,0,19.10,Revolving Credit,0.000,Branch,997,K,...,2021,Email,REF0000,ACT-1,0.328372,5,2,0,0,0
89998,99998,Mortgage,$487100,360,5.03,Refinance,0.894,Online,1003,J,...,2022,Mail,REF0000,ACTIVE,-0.318403,5,3,1,0,0

In [ ]:
# random_noise_1

In [8]:
merged_df['loan_type'].value_counts()

loan_type
Personal         9097
Personal Loan    9061
personal         9050
PERSONAL         9024
Mortgage         7919
Home Loan        7850
MORTGAGE         7841
mortgage         7819
Credit Card      5698
CreditCard       5659
credit card      5497
CC               5484
Name: count, dtype: int64

In [17]:
merged_df['employment_type'].value_counts()

employment_type
Full-time        12716
Full Time        12692
FULL_TIME        12608
Fulltime         12582
FT               12419
SELF_EMPLOYED     3409
Self Emp          3397
Self Employed     3327
Self-employed     3303
PART_TIME         2296
Part-time         2266
PT                2247
Part Time         2198
Contractor        1560
CONTRACT          1534
Contract          1445
Name: count, dtype: int64

In [18]:
merged_df['marital_status'].value_counts()

marital_status
Married     51889
Single      29806
Divorced     8304
Name: count, dtype: int64

In [9]:
merged_df

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign,...,account_open_year,preferred_contact,referral_code,account_status_code,random_noise_1,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing,default
0,10000,Personal,"$17,700",36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W,...,2013,Mail,REF0000,ACT-2,1.137099,13,2,1,1,0
1,10001,mortgage,"$114,000",180,6.83,Refinance,0.774,Branch,1011,B,...,2015,Phone,REF0000,ACT-3,-0.164932,6,1,1,1,1
2,10002,Personal Loan,"9,300",36,13.99,Major Purchase,0.000,Online,1084,K,...,2020,Phone,REF0000,ACT-3,0.526700,1,2,1,0,0
3,10003,PERSONAL,$8700,48,13.26,Medical,0.000,Online,1048,A,...,2010,Email,REF0000,A01,-0.709779,4,1,1,1,0
4,10004,Personal,"$7,200",24,10.77,Debt Consolidation,0.000,Branch,1055,S,...,2020,Mail,REF0000,ACT-3,-0.603132,6,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89994,99994,personal,"$11,300",24,9.70,Home Improvement,0.000,Branch,1050,O,...,2016,Email,REF0000,A01,1.628917,10,3,0,1,0
89995,99995,personal,"16,500",36,11.67,Other,0.000,Branch,1071,D,...,2014,Mail,REF9754,ACTIVE,-0.501960,12,1,1,0,0
89996,99996,Personal Loan,"17,800",36,14.99,Major Purchase,0.000,Online,1046,J,...,2010,Mail,REF0000,A01,-0.964956,4,2,1,1,1
89997,99997,Credit Card,$11700,0,19.10,Revolving Credit,0.000,Branch,997,K,...,2021,Email,REF0000,ACT-1,0.328372,5,2,0,0,0
89998,99998,Mortgage,$487100,360,5.03,Refinance,0.894,Online,1003,J,...,2022,Mail,REF0000,ACTIVE,-0.318403,5,3,1,0,0

In [10]:
merged_df["loan_amount"] = merged_df['loan_amount'].replace({'\$': '', ',': ''}, regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
/tmp/ipykernel_6158/2043490230.py:1: SyntaxWarning: invalid escape sequence '\$'
  merged_df["loan_amount"] = merged_df['loan_amount'].replace({'\$': '', ',': ''}, regex=True)

In [11]:
merged_df.columns

Index(['customer_id', 'loan_type', 'loan_amount', 'loan_term', 'interest_rate',
       'loan_purpose', 'loan_to_value_ratio', 'origination_channel',
       'loan_officer_id', 'marketing_campaign', 'cust_num', 'monthly_income',
       'existing_monthly_debt', 'monthly_payment', 'debt_to_income_ratio',
       'debt_service_ratio', 'payment_to_income_ratio', 'credit_utilization',
       'revolving_balance', 'credit_usage_amount', 'available_credit',
       'total_monthly_debt_payment', 'annual_debt_payment',
       'loan_to_annual_income', 'total_debt_amount', 'monthly_free_cash_flow',
       'cust_id', 'age', 'annual_income', 'employment_length',
       'employment_type', 'education', 'marital_status', 'num_dependents',
       'id', 'state', 'regional_unemployment_rate', 'regional_median_income',
       'regional_median_rent', 'housing_price_index', 'cost_of_living_index',
       'previous_zip_code', 'customer_number', 'credit_score',
       'num_credit_accounts', 'oldest_credit_line_age',
       'oldest_account_age_months', 'total_credit_limit',
       'num_delinquencies_2yrs', 'num_inquiries_6mo', 'recent_inquiry_count',
       'num_public_records', 'num_collections', 'account_diversity_index',
       'customer_ref', 'application_id', 'application_hour',
       'application_day_of_week', 'account_open_year', 'preferred_contact',
       'referral_code', 'account_status_code', 'random_noise_1',
       'num_login_sessions', 'num_customer_service_calls', 'has_mobile_app',
       'paperless_billing', 'default'],
      dtype='object')

In [12]:
merged_df

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign,...,account_open_year,preferred_contact,referral_code,account_status_code,random_noise_1,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing,default
0,10000,Personal,17700,36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W,...,2013,Mail,REF0000,ACT-2,1.137099,13,2,1,1,0
1,10001,mortgage,114000,180,6.83,Refinance,0.774,Branch,1011,B,...,2015,Phone,REF0000,ACT-3,-0.164932,6,1,1,1,1
2,10002,Personal Loan,9300,36,13.99,Major Purchase,0.000,Online,1084,K,...,2020,Phone,REF0000,ACT-3,0.526700,1,2,1,0,0
3,10003,PERSONAL,8700,48,13.26,Medical,0.000,Online,1048,A,...,2010,Email,REF0000,A01,-0.709779,4,1,1,1,0
4,10004,Personal,7200,24,10.77,Debt Consolidation,0.000,Branch,1055,S,...,2020,Mail,REF0000,ACT-3,-0.603132,6,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89994,99994,personal,11300,24,9.70,Home Improvement,0.000,Branch,1050,O,...,2016,Email,REF0000,A01,1.628917,10,3,0,1,0
89995,99995,personal,16500,36,11.67,Other,0.000,Branch,1071,D,...,2014,Mail,REF9754,ACTIVE,-0.501960,12,1,1,0,0
89996,99996,Personal Loan,17800,36,14.99,Major Purchase,0.000,Online,1046,J,...,2010,Mail,REF0000,A01,-0.964956,4,2,1,1,1
89997,99997,Credit Card,11700,0,19.10,Revolving Credit,0.000,Branch,997,K,...,2021,Email,REF0000,ACT-1,0.328372,5,2,0,0,0
89998,99998,Mortgage,487100,360,5.03,Refinance,0.894,Online,1003,J,...,2022,Mail,REF0000,ACTIVE,-0.318403,5,3,1,0,0

In [45]:
merged_df['interest_rate']

0        12.50
1         6.83
2        13.99
3        13.26
4        10.77
         ...
89994     9.70
89995    11.67
89996    14.99
89997    19.10
89998     5.03
Name: interest_rate, Length: 89999, dtype: float64

In [65]:
merged_df['loan_officer_id']

0        1045
1        1011
2        1084
3        1048
4        1055
         ...
89994    1050
89995    1071
89996    1046
89997     997
89998    1003
Name: loan_officer_id, Length: 89999, dtype: int64

In [13]:
merged_df = merged_df.drop('cust_num', axis=1)

In [14]:
merged_df['monthly_income'] = (
    merged_df['monthly_income']
    .str.replace(r'[\$,]', '', regex=True) # Use .str.replace on string series
    .astype(float)
)

In [15]:
merged_df['monthly_income']

0        5150.00
1        2383.33
2        1725.00
3        2616.67
4        2050.00
          ...
89994    6025.00
89995    1666.67
89996    1666.67
89997    1666.67
89998    2133.33
Name: monthly_income, Length: 89999, dtype: float64

In [83]:
sample = merged_df['existing_monthly_debt']

In [16]:
merged_df['existing_monthly_debt'] = (
    merged_df['existing_monthly_debt']
    .str.replace(r'[\$,]', '', regex=True) # Use .str.replace on string series
    .astype(float)
)

In [17]:
merged_df['existing_monthly_debt']

0         738.64
1         392.21
2         204.07
3         288.71
4         248.77
          ...
89994    2120.97
89995     138.97
89996     129.90
89997     162.11
89998     303.19
Name: existing_monthly_debt, Length: 89999, dtype: float64

In [18]:
sample

NameError: name 'sample' is not defined

In [19]:
sample = merged_df['monthly_payment']

In [20]:
merged_df['monthly_payment'] = (
    merged_df['monthly_payment']
    .str.replace(r'[\$,]', '', regex=True) # Use .str.replace on string series
    .astype(float)
)

In [21]:
sample

0         $592.13
1        1,013.86
2         $317.81
3          234.52
4          334.81
           ...
89994      519.87
89995     $545.44
89996      616.96
89997     $351.00
89998    2,623.80
Name: monthly_payment, Length: 89999, dtype: object

In [22]:
merged_df['monthly_payment']

0         592.13
1        1013.86
2         317.81
3         234.52
4         334.81
          ...
89994     519.87
89995     545.44
89996     616.96
89997     351.00
89998    2623.80
Name: monthly_payment, Length: 89999, dtype: float64

In [133]:
merged_df

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign,...,account_open_year,preferred_contact,referral_code,account_status_code,random_noise_1,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing,default
0,10000,Personal,17700,36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W,...,2013,Mail,REF0000,ACT-2,1.137099,13,2,1,1,0
1,10001,mortgage,114000,180,6.83,Refinance,0.774,Branch,1011,B,...,2015,Phone,REF0000,ACT-3,-0.164932,6,1,1,1,1
2,10002,Personal Loan,9300,36,13.99,Major Purchase,0.000,Online,1084,K,...,2020,Phone,REF0000,ACT-3,0.526700,1,2,1,0,0
3,10003,PERSONAL,8700,48,13.26,Medical,0.000,Online,1048,A,...,2010,Email,REF0000,A01,-0.709779,4,1,1,1,0
4,10004,Personal,7200,24,10.77,Debt Consolidation,0.000,Branch,1055,S,...,2020,Mail,REF0000,ACT-3,-0.603132,6,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89994,99994,personal,11300,24,9.70,Home Improvement,0.000,Branch,1050,O,...,2016,Email,REF0000,A01,1.628917,10,3,0,1,0
89995,99995,personal,16500,36,11.67,Other,0.000,Branch,1071,D,...,2014,Mail,REF9754,ACTIVE,-0.501960,12,1,1,0,0
89996,99996,Personal Loan,17800,36,14.99,Major Purchase,0.000,Online,1046,J,...,2010,Mail,REF0000,A01,-0.964956,4,2,1,1,1
89997,99997,Credit Card,11700,0,19.10,Revolving Credit,0.000,Branch,997,K,...,2021,Email,REF0000,ACT-1,0.328372,5,2,0,0,0
89998,99998,Mortgage,487100,360,5.03,Refinance,0.894,Online,1003,J,...,2022,Mail,REF0000,ACTIVE,-0.318403,5,3,1,0,0

In [23]:
merged_df[[
    'credit_usage_amount',
    'available_credit',
    'total_monthly_debt_payment',
    'total_debt_amount',
    'monthly_free_cash_flow',
    'annual_income',
]]

,credit_usage_amount,available_credit,total_monthly_debt_payment,total_debt_amount,monthly_free_cash_flow,annual_income
0,"$142,213.10","$26,886.90",1330.77,"159,913.10","3,819.23",$61800
1,"75,932.20","$2,267.80",1406.07,"189,932.20",$977.26,"28,600"
2,"22,314.60","$19,085.40",521.88,31614.6,1203.12,"$20,700"
3,8820.0,"51,180.00",523.23,"$17,520.00",2093.4366666666665,"31,400"
4,24253.6,"25,446.40",583.58,"$31,453.60",1466.42,$24600
...,...,...,...,...,...,...
89994,"48,680.40","$86,919.60","2,640.84","$59,980.40","$3,384.16","$72,300"
89995,15833.0,"$28,767.00",$684.41,32333.0,982.26,"20,000"
89996,12242.7,"$6,057.30",$746.86,30042.7,919.8066666666667,"$20,000"
89997,"30,516.60",23783.4,513.11,42216.6,"$1,153.56","$20,000"
89998,5877.6,"17,822.40","2,926.99",492977.6,$-793.66,$25600

In [24]:
financial_cols = [
    'credit_usage_amount',
    'available_credit',
    'total_monthly_debt_payment',
    'total_debt_amount',
    'monthly_free_cash_flow',
    'annual_income',
]

for col in financial_cols:
    merged_df[col] = (
        merged_df[col]
        .astype(str) # Ensure it's treated as a string series first
        .str.replace(r'[\$,]', '', regex=True)
        .astype(float)
    )

In [138]:
merged_df

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign,...,account_open_year,preferred_contact,referral_code,account_status_code,random_noise_1,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing,default
0,10000,Personal,17700,36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W,...,2013,Mail,REF0000,ACT-2,1.137099,13,2,1,1,0
1,10001,mortgage,114000,180,6.83,Refinance,0.774,Branch,1011,B,...,2015,Phone,REF0000,ACT-3,-0.164932,6,1,1,1,1
2,10002,Personal Loan,9300,36,13.99,Major Purchase,0.000,Online,1084,K,...,2020,Phone,REF0000,ACT-3,0.526700,1,2,1,0,0
3,10003,PERSONAL,8700,48,13.26,Medical,0.000,Online,1048,A,...,2010,Email,REF0000,A01,-0.709779,4,1,1,1,0
4,10004,Personal,7200,24,10.77,Debt Consolidation,0.000,Branch,1055,S,...,2020,Mail,REF0000,ACT-3,-0.603132,6,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89994,99994,personal,11300,24,9.70,Home Improvement,0.000,Branch,1050,O,...,2016,Email,REF0000,A01,1.628917,10,3,0,1,0
89995,99995,personal,16500,36,11.67,Other,0.000,Branch,1071,D,...,2014,Mail,REF9754,ACTIVE,-0.501960,12,1,1,0,0
89996,99996,Personal Loan,17800,36,14.99,Major Purchase,0.000,Online,1046,J,...,2010,Mail,REF0000,A01,-0.964956,4,2,1,1,1
89997,99997,Credit Card,11700,0,19.10,Revolving Credit,0.000,Branch,997,K,...,2021,Email,REF0000,ACT-1,0.328372,5,2,0,0,0
89998,99998,Mortgage,487100,360,5.03,Refinance,0.894,Online,1003,J,...,2022,Mail,REF0000,ACTIVE,-0.318403,5,3,1,0,0

In [25]:
def convert_loan_type(value):
  if value in ['Personal', 'Personal Loan', 'personal', 'PERSONAL']:
    return 'personal'
  elif value in ['MORTGAGE', 'mortgage', 'Mortgage']:
    return 'mortgage'
  elif value in ['Credit Card', 'CreditCard', 'credit card', 'CC']:
    return 'credit card'
  else:
    return value

merged_df['loan_type'] = merged_df['loan_type'].map(convert_loan_type)


def convert_employment_type(value):
  if value in ['Full-time', 'Full Time', 'FULL_TIME', 'Fulltime', 'FT']:
    return 'Full-time'
  elif value in ['SELF_EMPLOYED', 'Self Emp', 'Self Employed', 'Self-employed']:
    return 'Self-employed'
  elif value in ['PART_TIME', 'Part-time', 'Part Time', 'PT']:
    return 'Part-time'
  elif value in ['Contractor', 'CONTRACT', 'Contract']:
    return 'Contract'

merged_df['employment_type'] = merged_df['employment_type'].apply(convert_employment_type)

In [26]:
merged_df=merged_df.drop('customer_number', axis=1)

In [27]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 66 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customer_id                 89999 non-null  int64
 1   loan_type                   89999 non-null  object
 2   loan_amount                 89999 non-null  object
 3   loan_term                   89999 non-null  int64
 4   interest_rate               89999 non-null  float64
 5   loan_purpose                89999 non-null  object
 6   loan_to_value_ratio         89999 non-null  float64
 7   origination_channel         89999 non-null  object
 8   loan_officer_id             89999 non-null  int64
 9   marketing_campaign          89999 non-null  object
 10  monthly_income              89999 non-null  float64
 11  existing_monthly_debt       89999 non-null  float64
 12  monthly_payment             89999 non-null  float64
 13  debt_to_income_ratio        89999 non-null  float64
 14  debt_service_ratio          89999 non-null  float64
 15  payment_to_income_ratio     89999 non-null  float64
 16  credit_utilization          89999 non-null  float64
 17  revolving_balance           88622 non-null  object
 18  credit_usage_amount         89999 non-null  float64
 19  available_credit            89999 non-null  float64
 20  total_monthly_debt_payment  89999 non-null  float64
 21  annual_debt_payment         89999 non-null  float64
 22  loan_to_annual_income       89999 non-null  float64
 23  total_debt_amount           89999 non-null  float64
 24  monthly_free_cash_flow      89999 non-null  float64
 25  cust_id                     89999 non-null  int64
 26  age                         89999 non-null  int64
 27  annual_income               89999 non-null  float64
 28  employment_length           87746 non-null  float64
 29  employment_type             89999 non-null  object
 30  education                   89999 non-null  object
 31  marital_status              89999 non-null  object
 32  num_dependents              89999 non-null  int64
 33  id                          89999 non-null  int64
 34  state                       89999 non-null  object
 35  regional_unemployment_rate  89999 non-null  float64
 36  regional_median_income      89999 non-null  int64
 37  regional_median_rent        89999 non-null  float64
 38  housing_price_index         89999 non-null  float64
 39  cost_of_living_index        89999 non-null  float64
 40  previous_zip_code           89999 non-null  int64
 41  credit_score                89999 non-null  int64
 42  num_credit_accounts         89999 non-null  int64
 43  oldest_credit_line_age      89999 non-null  float64
 44  oldest_account_age_months   89999 non-null  float64
 45  total_credit_limit          89999 non-null  float64
 46  num_delinquencies_2yrs      89167 non-null  float64
 47  num_inquiries_6mo           89999 non-null  int64
 48  recent_inquiry_count        89999 non-null  int64
 49  num_public_records          89999 non-null  int64
 50  num_collections             89999 non-null  int64
 51  account_diversity_index     89999 non-null  float64
 52  customer_ref                89999 non-null  int64
 53  application_id              89999 non-null  int64
 54  application_hour            89999 non-null  int64
 55  application_day_of_week     89999 non-null  int64
 56  account_open_year           89999 non-null  int64
 57  preferred_contact           89999 non-null  object
 58  referral_code               89999 non-null  object
 59  account_status_code         89999 non-null  object
 60  random_noise_1              89999 non-null  float64
 61  num_login_sessions          89999 non-null  int64
 62  num_customer_service_calls  89999 non-null  int64
 63  has_mobile_app              89999 non-null  int64
 64  paperless_billing           89999 non-null  int64
 65  default                     89999 non-null  int64
dtypes: float64(28), int64(25), object(13)
memory usage: 45.3+ MB

In [54]:
merged_df[['debt_to_income_ratio','debt_service_ratio']]

       debt_to_income_ratio  debt_service_ratio
0                     0.258            0.258402
1                     0.590            0.589959
2                     0.303            0.302539
3                     0.200            0.199961
4                     0.285            0.284673
...                     ...                 ...
89994                 0.438            0.438314
89995                 0.411            0.410646
89996                 0.448            0.448116
89997                 0.308            0.307866
89998                 1.372            1.372027

[89999 rows x 2 columns]

In [29]:
merged_df = merged_df.drop('customer_ref', axis=1)

In [30]:
merged_df=merged_df.drop('application_id',axis=1)

In [31]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 64 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customer_id                 89999 non-null  int64
 1   loan_type                   89999 non-null  object
 2   loan_amount                 89999 non-null  object
 3   loan_term                   89999 non-null  int64
 4   interest_rate               89999 non-null  float64
 5   loan_purpose                89999 non-null  object
 6   loan_to_value_ratio         89999 non-null  float64
 7   origination_channel         89999 non-null  object
 8   loan_officer_id             89999 non-null  int64
 9   marketing_campaign          89999 non-null  object
 10  monthly_income              89999 non-null  float64
 11  existing_monthly_debt       89999 non-null  float64
 12  monthly_payment             89999 non-null  float64
 13  debt_to_income_ratio        89999 non-null  float64
 14  debt_service_ratio          89999 non-null  float64
 15  payment_to_income_ratio     89999 non-null  float64
 16  credit_utilization          89999 non-null  float64
 17  revolving_balance           88622 non-null  object
 18  credit_usage_amount         89999 non-null  float64
 19  available_credit            89999 non-null  float64
 20  total_monthly_debt_payment  89999 non-null  float64
 21  annual_debt_payment         89999 non-null  float64
 22  loan_to_annual_income       89999 non-null  float64
 23  total_debt_amount           89999 non-null  float64
 24  monthly_free_cash_flow      89999 non-null  float64
 25  cust_id                     89999 non-null  int64
 26  age                         89999 non-null  int64
 27  annual_income               89999 non-null  float64
 28  employment_length           87746 non-null  float64
 29  employment_type             89999 non-null  object
 30  education                   89999 non-null  object
 31  marital_status              89999 non-null  object
 32  num_dependents              89999 non-null  int64
 33  id                          89999 non-null  int64
 34  state                       89999 non-null  object
 35  regional_unemployment_rate  89999 non-null  float64
 36  regional_median_income      89999 non-null  int64
 37  regional_median_rent        89999 non-null  float64
 38  housing_price_index         89999 non-null  float64
 39  cost_of_living_index        89999 non-null  float64
 40  previous_zip_code           89999 non-null  int64
 41  credit_score                89999 non-null  int64
 42  num_credit_accounts         89999 non-null  int64
 43  oldest_credit_line_age      89999 non-null  float64
 44  oldest_account_age_months   89999 non-null  float64
 45  total_credit_limit          89999 non-null  float64
 46  num_delinquencies_2yrs      89167 non-null  float64
 47  num_inquiries_6mo           89999 non-null  int64
 48  recent_inquiry_count        89999 non-null  int64
 49  num_public_records          89999 non-null  int64
 50  num_collections             89999 non-null  int64
 51  account_diversity_index     89999 non-null  float64
 52  application_hour            89999 non-null  int64
 53  application_day_of_week     89999 non-null  int64
 54  account_open_year           89999 non-null  int64
 55  preferred_contact           89999 non-null  object
 56  referral_code               89999 non-null  object
 57  account_status_code         89999 non-null  object
 58  random_noise_1              89999 non-null  float64
 59  num_login_sessions          89999 non-null  int64
 60  num_customer_service_calls  89999 non-null  int64
 61  has_mobile_app              89999 non-null  int64
 62  paperless_billing           89999 non-null  int64
 63  default                     89999 non-null  int64
dtypes: float64(28), int64(23), object(13)
memory usage: 43.9+ MB

In [32]:
merged_df[['customer_id','credit_usage_amount','revolving_balance']]

       customer_id  credit_usage_amount revolving_balance
0            10000             142213.1       $142,213.10
1            10001              75932.2        $75,932.20
2            10002              22314.6           22314.6
3            10003               8820.0          8,820.00
4            10004              24253.6           24253.6
...            ...                  ...               ...
89994        99994              48680.4         48,680.40
89995        99995              15833.0         15,833.00
89996        99996              12242.7         12,242.70
89997        99997              30516.6        $30,516.60
89998        99998               5877.6            5877.6

[89999 rows x 3 columns]

In [33]:
merged_df['revolving_balance'] = (
    merged_df['revolving_balance']
    .str.replace(r'[\$,]', '', regex=True) # Use .str.replace on string series
    .astype(float)
)

In [34]:
merged_df

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign,...,account_open_year,preferred_contact,referral_code,account_status_code,random_noise_1,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing,default
0,10000,personal,17700,36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W,...,2013,Mail,REF0000,ACT-2,1.137099,13,2,1,1,0
1,10001,mortgage,114000,180,6.83,Refinance,0.774,Branch,1011,B,...,2015,Phone,REF0000,ACT-3,-0.164932,6,1,1,1,1
2,10002,personal,9300,36,13.99,Major Purchase,0.000,Online,1084,K,...,2020,Phone,REF0000,ACT-3,0.526700,1,2,1,0,0
3,10003,personal,8700,48,13.26,Medical,0.000,Online,1048,A,...,2010,Email,REF0000,A01,-0.709779,4,1,1,1,0
4,10004,personal,7200,24,10.77,Debt Consolidation,0.000,Branch,1055,S,...,2020,Mail,REF0000,ACT-3,-0.603132,6,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89994,99994,personal,11300,24,9.70,Home Improvement,0.000,Branch,1050,O,...,2016,Email,REF0000,A01,1.628917,10,3,0,1,0
89995,99995,personal,16500,36,11.67,Other,0.000,Branch,1071,D,...,2014,Mail,REF9754,ACTIVE,-0.501960,12,1,1,0,0
89996,99996,personal,17800,36,14.99,Major Purchase,0.000,Online,1046,J,...,2010,Mail,REF0000,A01,-0.964956,4,2,1,1,1
89997,99997,credit card,11700,0,19.10,Revolving Credit,0.000,Branch,997,K,...,2021,Email,REF0000,ACT-1,0.328372,5,2,0,0,0
89998,99998,Mortgage,487100,360,5.03,Refinance,0.894,Online,1003,J,...,2022,Mail,REF0000,ACTIVE,-0.318403,5,3,1,0,0

In [35]:
merged_df.to_csv('merged_changed_different.csv', index=False)

In [181]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 62 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customer_id                 89999 non-null  int64
 1   loan_type                   89999 non-null  object
 2   loan_amount                 89999 non-null  object
 3   loan_term                   89999 non-null  int64
 4   interest_rate               89999 non-null  float64
 5   loan_purpose                89999 non-null  object
 6   loan_to_value_ratio         89999 non-null  float64
 7   origination_channel         89999 non-null  object
 8   loan_officer_id             89999 non-null  int64
 9   marketing_campaign          89999 non-null  object
 10  monthly_income              89999 non-null  float64
 11  existing_monthly_debt       89999 non-null  float64
 12  monthly_payment             89999 non-null  float64
 13  debt_to_income_ratio        89999 non-null  float64
 14  debt_service_ratio          89999 non-null  float64
 15  payment_to_income_ratio     89999 non-null  float64
 16  credit_utilization          89999 non-null  float64
 17  revolving_balance           88622 non-null  float64
 18  credit_usage_amount         89999 non-null  float64
 19  available_credit            89999 non-null  float64
 20  total_monthly_debt_payment  89999 non-null  float64
 21  annual_debt_payment         89999 non-null  float64
 22  loan_to_annual_income       89999 non-null  float64
 23  total_debt_amount           89999 non-null  float64
 24  monthly_free_cash_flow      89999 non-null  float64
 25  age                         89999 non-null  int64
 26  annual_income               89999 non-null  float64
 27  employment_length           87746 non-null  float64
 28  employment_type             87801 non-null  object
 29  education                   89999 non-null  object
 30  marital_status              89999 non-null  object
 31  num_dependents              89999 non-null  int64
 32  state                       89999 non-null  object
 33  regional_unemployment_rate  89999 non-null  float64
 34  regional_median_income      89999 non-null  int64
 35  regional_median_rent        89999 non-null  float64
 36  housing_price_index         89999 non-null  float64
 37  cost_of_living_index        89999 non-null  float64
 38  previous_zip_code           89999 non-null  int64
 39  credit_score                89999 non-null  int64
 40  num_credit_accounts         89999 non-null  int64
 41  oldest_credit_line_age      89999 non-null  float64
 42  oldest_account_age_months   89999 non-null  float64
 43  total_credit_limit          89999 non-null  float64
 44  num_delinquencies_2yrs      89167 non-null  float64
 45  num_inquiries_6mo           89999 non-null  int64
 46  recent_inquiry_count        89999 non-null  int64
 47  num_public_records          89999 non-null  int64
 48  num_collections             89999 non-null  int64
 49  account_diversity_index     89999 non-null  float64
 50  application_hour            89999 non-null  int64
 51  application_day_of_week     89999 non-null  int64
 52  account_open_year           89999 non-null  int64
 53  preferred_contact           89999 non-null  object
 54  referral_code               89999 non-null  object
 55  account_status_code         89999 non-null  object
 56  random_noise_1              89999 non-null  float64
 57  num_login_sessions          89999 non-null  int64
 58  num_customer_service_calls  89999 non-null  int64
 59  has_mobile_app              89999 non-null  int64
 60  paperless_billing           89999 non-null  int64
 61  default                     89999 non-null  int64
dtypes: float64(29), int64(21), object(12)
memory usage: 42.6+ MB

In [36]:
merged_df[[
    'num_delinquencies_2yrs',
    'num_inquiries_6mo',
    'num_public_records',
    'num_collections',
    'recent_inquiry_count']]

,num_delinquencies_2yrs,num_inquiries_6mo,num_public_records,num_collections,recent_inquiry_count
0,0.0,2,1,0,2
1,0.0,6,0,0,6
2,0.0,2,0,0,2
3,0.0,1,0,0,1
4,0.0,1,0,0,1
...,...,...,...,...,...
89994,0.0,1,0,0,1
89995,0.0,1,0,0,1
89996,0.0,2,1,0,2
89997,0.0,3,0,0,3
89998,0.0,5,0,0,5

In [37]:
merged_df[['num_inquiries_6mo', 'recent_inquiry_count']]

       num_inquiries_6mo  recent_inquiry_count
0                      2                     2
1                      6                     6
2                      2                     2
3                      1                     1
4                      1                     1
...                  ...                   ...
89994                  1                     1
89995                  1                     1
89996                  2                     2
89997                  3                     3
89998                  5                     5

[89999 rows x 2 columns]

In [38]:
merged_df[['annual_income', 'monthly_income']]

       annual_income  monthly_income
0            61800.0         5150.00
1            28600.0         2383.33
2            20700.0         1725.00
3            31400.0         2616.67
4            24600.0         2050.00
...              ...             ...
89994        72300.0         6025.00
89995        20000.0         1666.67
89996        20000.0         1666.67
89997        20000.0         1666.67
89998        25600.0         2133.33

[89999 rows x 2 columns]

In [39]:
yillik = merged_df['monthly_income']*12

In [40]:
yillik

0        61800.00
1        28599.96
2        20700.00
3        31400.04
4        24600.00
           ...
89994    72300.00
89995    20000.04
89996    20000.04
89997    20000.04
89998    25599.96
Name: monthly_income, Length: 89999, dtype: float64

In [41]:
merged_df['annual_income']

0        61800.0
1        28600.0
2        20700.0
3        31400.0
4        24600.0
          ...
89994    72300.0
89995    20000.0
89996    20000.0
89997    20000.0
89998    25600.0
Name: annual_income, Length: 89999, dtype: float64

In [208]:
merged_df

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign,...,account_open_year,preferred_contact,referral_code,account_status_code,random_noise_1,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing,default
0,10000,personal,17700,36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W,...,2013,Mail,REF0000,ACT-2,1.137099,13,2,1,1,0
1,10001,mortgage,114000,180,6.83,Refinance,0.774,Branch,1011,B,...,2015,Phone,REF0000,ACT-3,-0.164932,6,1,1,1,1
2,10002,personal,9300,36,13.99,Major Purchase,0.000,Online,1084,K,...,2020,Phone,REF0000,ACT-3,0.526700,1,2,1,0,0
3,10003,personal,8700,48,13.26,Medical,0.000,Online,1048,A,...,2010,Email,REF0000,A01,-0.709779,4,1,1,1,0
4,10004,personal,7200,24,10.77,Debt Consolidation,0.000,Branch,1055,S,...,2020,Mail,REF0000,ACT-3,-0.603132,6,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89994,99994,personal,11300,24,9.70,Home Improvement,0.000,Branch,1050,O,...,2016,Email,REF0000,A01,1.628917,10,3,0,1,0
89995,99995,personal,16500,36,11.67,Other,0.000,Branch,1071,D,...,2014,Mail,REF9754,ACTIVE,-0.501960,12,1,1,0,0
89996,99996,personal,17800,36,14.99,Major Purchase,0.000,Online,1046,J,...,2010,Mail,REF0000,A01,-0.964956,4,2,1,1,1
89997,99997,credit card,11700,0,19.10,Revolving Credit,0.000,Branch,997,K,...,2021,Email,REF0000,ACT-1,0.328372,5,2,0,0,0
89998,99998,Mortgage,487100,360,5.03,Refinance,0.894,Online,1003,J,...,2022,Mail,REF0000,ACTIVE,-0.318403,5,3,1,0,0

In [42]:
merged_df.isnull().sum()

customer_id                   0
loan_type                     0
loan_amount                   0
loan_term                     0
interest_rate                 0
                             ..
num_login_sessions            0
num_customer_service_calls    0
has_mobile_app                0
paperless_billing             0
default                       0
Length: 64, dtype: int64

In [44]:
merged_df

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign,...,account_open_year,preferred_contact,referral_code,account_status_code,random_noise_1,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing,default
0,10000,personal,17700,36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W,...,2013,Mail,REF0000,ACT-2,1.137099,13,2,1,1,0
1,10001,mortgage,114000,180,6.83,Refinance,0.774,Branch,1011,B,...,2015,Phone,REF0000,ACT-3,-0.164932,6,1,1,1,1
2,10002,personal,9300,36,13.99,Major Purchase,0.000,Online,1084,K,...,2020,Phone,REF0000,ACT-3,0.526700,1,2,1,0,0
3,10003,personal,8700,48,13.26,Medical,0.000,Online,1048,A,...,2010,Email,REF0000,A01,-0.709779,4,1,1,1,0
4,10004,personal,7200,24,10.77,Debt Consolidation,0.000,Branch,1055,S,...,2020,Mail,REF0000,ACT-3,-0.603132,6,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89994,99994,personal,11300,24,9.70,Home Improvement,0.000,Branch,1050,O,...,2016,Email,REF0000,A01,1.628917,10,3,0,1,0
89995,99995,personal,16500,36,11.67,Other,0.000,Branch,1071,D,...,2014,Mail,REF9754,ACTIVE,-0.501960,12,1,1,0,0
89996,99996,personal,17800,36,14.99,Major Purchase,0.000,Online,1046,J,...,2010,Mail,REF0000,A01,-0.964956,4,2,1,1,1
89997,99997,credit card,11700,0,19.10,Revolving Credit,0.000,Branch,997,K,...,2021,Email,REF0000,ACT-1,0.328372,5,2,0,0,0
89998,99998,Mortgage,487100,360,5.03,Refinance,0.894,Online,1003,J,...,2022,Mail,REF0000,ACTIVE,-0.318403,5,3,1,0,0

In [47]:
merged_df

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign,...,account_open_year,preferred_contact,referral_code,account_status_code,random_noise_1,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing,default
0,10000,personal,17700,36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W,...,2013,Mail,REF0000,ACT-2,1.137099,13,2,1,1,0
1,10001,mortgage,114000,180,6.83,Refinance,0.774,Branch,1011,B,...,2015,Phone,REF0000,ACT-3,-0.164932,6,1,1,1,1
2,10002,personal,9300,36,13.99,Major Purchase,0.000,Online,1084,K,...,2020,Phone,REF0000,ACT-3,0.526700,1,2,1,0,0
3,10003,personal,8700,48,13.26,Medical,0.000,Online,1048,A,...,2010,Email,REF0000,A01,-0.709779,4,1,1,1,0
4,10004,personal,7200,24,10.77,Debt Consolidation,0.000,Branch,1055,S,...,2020,Mail,REF0000,ACT-3,-0.603132,6,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89994,99994,personal,11300,24,9.70,Home Improvement,0.000,Branch,1050,O,...,2016,Email,REF0000,A01,1.628917,10,3,0,1,0
89995,99995,personal,16500,36,11.67,Other,0.000,Branch,1071,D,...,2014,Mail,REF9754,ACTIVE,-0.501960,12,1,1,0,0
89996,99996,personal,17800,36,14.99,Major Purchase,0.000,Online,1046,J,...,2010,Mail,REF0000,A01,-0.964956,4,2,1,1,1
89997,99997,credit card,11700,0,19.10,Revolving Credit,0.000,Branch,997,K,...,2021,Email,REF0000,ACT-1,0.328372,5,2,0,0,0
89998,99998,Mortgage,487100,360,5.03,Refinance,0.894,Online,1003,J,...,2022,Mail,REF0000,ACTIVE,-0.318403,5,3,1,0,0

In [48]:
merged_df.to_csv('changes_and_with_dup.csv', index=False)

In [49]:
new_df = merged_df

In [55]:
new_df = new_df.drop(['annual_income', 'recent_inquiry_count', 'random_noise_1', 'revolving_balance', 'debt_to_income_ratio'], axis=1)

In [58]:
new_df

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign,...,application_day_of_week,account_open_year,preferred_contact,referral_code,account_status_code,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing,default
0,10000,personal,17700,36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W,...,6,2013,Mail,REF0000,ACT-2,13,2,1,1,0
1,10001,mortgage,114000,180,6.83,Refinance,0.774,Branch,1011,B,...,2,2015,Phone,REF0000,ACT-3,6,1,1,1,1
2,10002,personal,9300,36,13.99,Major Purchase,0.000,Online,1084,K,...,3,2020,Phone,REF0000,ACT-3,1,2,1,0,0
3,10003,personal,8700,48,13.26,Medical,0.000,Online,1048,A,...,5,2010,Email,REF0000,A01,4,1,1,1,0
4,10004,personal,7200,24,10.77,Debt Consolidation,0.000,Branch,1055,S,...,2,2020,Mail,REF0000,ACT-3,6,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89994,99994,personal,11300,24,9.70,Home Improvement,0.000,Branch,1050,O,...,5,2016,Email,REF0000,A01,10,3,0,1,0
89995,99995,personal,16500,36,11.67,Other,0.000,Branch,1071,D,...,5,2014,Mail,REF9754,ACTIVE,12,1,1,0,0
89996,99996,personal,17800,36,14.99,Major Purchase,0.000,Online,1046,J,...,5,2010,Mail,REF0000,A01,4,2,1,1,1
89997,99997,credit card,11700,0,19.10,Revolving Credit,0.000,Branch,997,K,...,3,2021,Email,REF0000,ACT-1,5,2,0,0,0
89998,99998,Mortgage,487100,360,5.03,Refinance,0.894,Online,1003,J,...,5,2022,Mail,REF0000,ACTIVE,5,3,1,0,0

In [60]:
new_df.to_csv('changes_and_without_dup.csv', index=False)