In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('final_no_missing2.csv')

In [3]:
df['account_open_year'] = df['account_open_year'].transform(str)

In [4]:
df = df.drop(['num_login_sessions', 'num_customer_service_calls', 'has_mobile_app', 'paperless_billing'], axis=1)

In [5]:
df['loan_type'].value_counts()

loan_type
personal       35892
mortgage       23367
credit card    22118
Home Loan       7790
Name: count, dtype: int64

In [6]:
numeric_columns = df.select_dtypes(exclude='object')
object_columns = df.select_dtypes(include='object')

In [7]:
object_columns

,loan_type,loan_purpose,origination_channel,marketing_campaign,employment_type,education,marital_status,state,account_open_year,preferred_contact,referral_code,account_status_code
0,personal,Debt Consolidation,Direct Mail,W,Full-time,Graduate,Married,OH,2013,Mail,REF0000,ACT-2
1,mortgage,Refinance,Branch,B,Full-time,High School,Married,PA,2015,Phone,REF0000,ACT-3
2,personal,Major Purchase,Online,K,Full-time,Bachelor,Single,VA,2020,Phone,REF0000,ACT-3
3,personal,Medical,Online,A,Full-time,Bachelor,Single,CA,2010,Email,REF0000,A01
4,personal,Debt Consolidation,Branch,S,Full-time,High School,Single,WA,2020,Mail,REF0000,ACT-3
...,...,...,...,...,...,...,...,...,...,...,...,...
89162,personal,Home Improvement,Branch,O,Full-time,Bachelor,Single,CA,2016,Email,REF0000,A01
89163,personal,Other,Branch,D,Full-time,High School,Divorced,IL,2014,Mail,REF9754,ACTIVE
89164,personal,Major Purchase,Online,J,Full-time,High School,Married,CA,2010,Mail,REF0000,A01
89165,credit card,Revolving Credit,Branch,K,Full-time,High School,Married,GA,2021,Email,REF0000,ACT-1
89166,mortgage,Refinance,Online,J,Self-employed,Bachelor,Married,TX,2022,Mail,REF0000,ACTIVE

In [8]:
df[['account_open_year', 'default']]

      account_open_year  default
0                  2013        0
1                  2015        1
2                  2020        0
3                  2010        0
4                  2020        0
...                 ...      ...
89162              2016        0
89163              2014        0
89164              2010        1
89165              2021        0
89166              2022        0

[89167 rows x 2 columns]

In [17]:
numeric_columns = numeric_columns.drop(['application_hour', 'application_day_of_week'], axis=1)

In [12]:
# numeric_columns = numeric_columns.drop(['num_customer_service_calls', 'has_mobile_app', 'paperless_billing'], axis=1)

In [13]:
numeric_columns

,loan_amount,loan_term,interest_rate,loan_to_value_ratio,loan_officer_id,monthly_income,existing_monthly_debt,monthly_payment,debt_service_ratio,payment_to_income_ratio,...,credit_score,num_credit_accounts,oldest_credit_line_age,oldest_account_age_months,total_credit_limit,num_delinquencies_2yrs,num_inquiries_6mo,num_collections,account_diversity_index,default
0,17700,36,12.50,0.000,1045,5150.00,738.64,592.13,0.258402,0.115,...,696,14,22.8,273.6,169100.0,0.0,2,0,0.499,0
1,114000,180,6.83,0.774,1011,2383.33,392.21,1013.86,0.589959,0.425,...,659,13,3.5,42.0,78200.0,0.0,6,0,0.298,1
2,9300,36,13.99,0.000,1084,1725.00,204.07,317.81,0.302539,0.184,...,662,3,0.0,0.0,41400.0,0.0,2,0,0.174,0
3,8700,48,13.26,0.000,1048,2616.67,288.71,234.52,0.199961,0.090,...,676,8,9.0,108.0,60000.0,0.0,1,0,0.263,0
4,7200,24,10.77,0.000,1055,2050.00,248.77,334.81,0.284673,0.163,...,678,7,8.0,96.0,49700.0,0.0,1,0,0.298,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89162,11300,24,9.70,0.000,1050,6025.00,2120.97,519.87,0.438314,0.086,...,817,10,8.2,98.4,135600.0,0.0,1,0,0.285,0
89163,16500,36,11.67,0.000,1071,1666.67,138.97,545.44,0.410646,0.327,...,745,9,8.8,105.6,44600.0,0.0,1,0,0.353,0
89164,17800,36,14.99,0.000,1046,1666.67,129.90,616.96,0.448116,0.370,...,607,11,1.0,12.0,18300.0,0.0,2,0,0.238,1
89165,11700,0,19.10,0.000,997,1666.67,162.11,351.00,0.307866,0.211,...,678,10,3.0,36.0,54300.0,0.0,3,0,0.227,0
89166,487100,360,5.03,0.894,1003,2133.33,303.19,2623.80,1.372027,1.230,...,730,16,15.8,189.6,23700.0,0.0,5,0,0.532,0

In [14]:
object_columns

,loan_type,loan_purpose,origination_channel,marketing_campaign,employment_type,education,marital_status,state,account_open_year,preferred_contact,referral_code,account_status_code
0,personal,Debt Consolidation,Direct Mail,W,Full-time,Graduate,Married,OH,2013,Mail,REF0000,ACT-2
1,mortgage,Refinance,Branch,B,Full-time,High School,Married,PA,2015,Phone,REF0000,ACT-3
2,personal,Major Purchase,Online,K,Full-time,Bachelor,Single,VA,2020,Phone,REF0000,ACT-3
3,personal,Medical,Online,A,Full-time,Bachelor,Single,CA,2010,Email,REF0000,A01
4,personal,Debt Consolidation,Branch,S,Full-time,High School,Single,WA,2020,Mail,REF0000,ACT-3
...,...,...,...,...,...,...,...,...,...,...,...,...
89162,personal,Home Improvement,Branch,O,Full-time,Bachelor,Single,CA,2016,Email,REF0000,A01
89163,personal,Other,Branch,D,Full-time,High School,Divorced,IL,2014,Mail,REF9754,ACTIVE
89164,personal,Major Purchase,Online,J,Full-time,High School,Married,CA,2010,Mail,REF0000,A01
89165,credit card,Revolving Credit,Branch,K,Full-time,High School,Married,GA,2021,Email,REF0000,ACT-1
89166,mortgage,Refinance,Online,J,Self-employed,Bachelor,Married,TX,2022,Mail,REF0000,ACTIVE

In [15]:
object_columns['referral_code'].value_counts()

referral_code
REF0000    71326
REF4315       13
REF4048        9
REF9450        9
REF1887        8
           ...
REF6142        1
REF1378        1
REF6969        1
REF2345        1
REF3820        1
Name: count, Length: 7773, dtype: int64

In [16]:
numeric_columns = df.select_dtypes(exclude='object')
object_columns = df.select_dtypes(include='object')

In [18]:
object_columns

,loan_type,loan_purpose,origination_channel,marketing_campaign,employment_type,education,marital_status,state,account_open_year,preferred_contact,referral_code,account_status_code
0,personal,Debt Consolidation,Direct Mail,W,Full-time,Graduate,Married,OH,2013,Mail,REF0000,ACT-2
1,mortgage,Refinance,Branch,B,Full-time,High School,Married,PA,2015,Phone,REF0000,ACT-3
2,personal,Major Purchase,Online,K,Full-time,Bachelor,Single,VA,2020,Phone,REF0000,ACT-3
3,personal,Medical,Online,A,Full-time,Bachelor,Single,CA,2010,Email,REF0000,A01
4,personal,Debt Consolidation,Branch,S,Full-time,High School,Single,WA,2020,Mail,REF0000,ACT-3
...,...,...,...,...,...,...,...,...,...,...,...,...
89162,personal,Home Improvement,Branch,O,Full-time,Bachelor,Single,CA,2016,Email,REF0000,A01
89163,personal,Other,Branch,D,Full-time,High School,Divorced,IL,2014,Mail,REF9754,ACTIVE
89164,personal,Major Purchase,Online,J,Full-time,High School,Married,CA,2010,Mail,REF0000,A01
89165,credit card,Revolving Credit,Branch,K,Full-time,High School,Married,GA,2021,Email,REF0000,ACT-1
89166,mortgage,Refinance,Online,J,Self-employed,Bachelor,Married,TX,2022,Mail,REF0000,ACTIVE

In [19]:
object_columns = object_columns.drop('account_open_year', axis=1)

In [20]:
object_columns

,loan_type,loan_purpose,origination_channel,marketing_campaign,employment_type,education,marital_status,state,preferred_contact,referral_code,account_status_code
0,personal,Debt Consolidation,Direct Mail,W,Full-time,Graduate,Married,OH,Mail,REF0000,ACT-2
1,mortgage,Refinance,Branch,B,Full-time,High School,Married,PA,Phone,REF0000,ACT-3
2,personal,Major Purchase,Online,K,Full-time,Bachelor,Single,VA,Phone,REF0000,ACT-3
3,personal,Medical,Online,A,Full-time,Bachelor,Single,CA,Email,REF0000,A01
4,personal,Debt Consolidation,Branch,S,Full-time,High School,Single,WA,Mail,REF0000,ACT-3
...,...,...,...,...,...,...,...,...,...,...,...
89162,personal,Home Improvement,Branch,O,Full-time,Bachelor,Single,CA,Email,REF0000,A01
89163,personal,Other,Branch,D,Full-time,High School,Divorced,IL,Mail,REF9754,ACTIVE
89164,personal,Major Purchase,Online,J,Full-time,High School,Married,CA,Mail,REF0000,A01
89165,credit card,Revolving Credit,Branch,K,Full-time,High School,Married,GA,Email,REF0000,ACT-1
89166,mortgage,Refinance,Online,J,Self-employed,Bachelor,Married,TX,Mail,REF0000,ACTIVE

In [21]:
objects_num_column = pd.get_dummies(object_columns, drop_first=True)

In [22]:
objects_num_column

,loan_type_credit card,loan_type_mortgage,loan_type_personal,loan_purpose_Home Improvement,loan_purpose_Home Purchase,loan_purpose_Major Purchase,loan_purpose_Medical,loan_purpose_Other,loan_purpose_Refinance,loan_purpose_Revolving Credit,...,referral_code_REF9993,referral_code_REF9994,referral_code_REF9995,referral_code_REF9996,referral_code_REF9997,referral_code_REF9998,account_status_code_ACT-1,account_status_code_ACT-2,account_status_code_ACT-3,account_status_code_ACTIVE
0,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,True,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
2,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,False,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89162,False,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
89163,False,False,True,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,True
89164,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
89165,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,True,False,False,False
89166,False,True,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True

In [23]:
new_df = pd.concat([objects_num_column, numeric_columns], axis=1)

In [24]:
new_df

,loan_type_credit card,loan_type_mortgage,loan_type_personal,loan_purpose_Home Improvement,loan_purpose_Home Purchase,loan_purpose_Major Purchase,loan_purpose_Medical,loan_purpose_Other,loan_purpose_Refinance,loan_purpose_Revolving Credit,...,credit_score,num_credit_accounts,oldest_credit_line_age,oldest_account_age_months,total_credit_limit,num_delinquencies_2yrs,num_inquiries_6mo,num_collections,account_diversity_index,default
0,False,False,True,False,False,False,False,False,False,False,...,696,14,22.8,273.6,169100.0,0.0,2,0,0.499,0
1,False,True,False,False,False,False,False,False,True,False,...,659,13,3.5,42.0,78200.0,0.0,6,0,0.298,1
2,False,False,True,False,False,True,False,False,False,False,...,662,3,0.0,0.0,41400.0,0.0,2,0,0.174,0
3,False,False,True,False,False,False,True,False,False,False,...,676,8,9.0,108.0,60000.0,0.0,1,0,0.263,0
4,False,False,True,False,False,False,False,False,False,False,...,678,7,8.0,96.0,49700.0,0.0,1,0,0.298,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89162,False,False,True,True,False,False,False,False,False,False,...,817,10,8.2,98.4,135600.0,0.0,1,0,0.285,0
89163,False,False,True,False,False,False,False,True,False,False,...,745,9,8.8,105.6,44600.0,0.0,1,0,0.353,0
89164,False,False,True,False,False,True,False,False,False,False,...,607,11,1.0,12.0,18300.0,0.0,2,0,0.238,1
89165,True,False,False,False,False,False,False,False,False,True,...,678,10,3.0,36.0,54300.0,0.0,3,0,0.227,0
89166,False,True,False,False,False,False,False,False,True,False,...,730,16,15.8,189.6,23700.0,0.0,5,0,0.532,0

In [26]:
len(new_df.columns)

7880

In [28]:
df.to_csv('final_dataset.csv', index=False)

In [29]:
new_df.to_csv('final_dataset_to_train.csv', index=False)

In [31]:
df = df.drop(['cust_id', 'application_hour', 'application_day_of_week', 'account_open_year'], axis=1)

In [32]:
df

,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign,monthly_income,...,oldest_account_age_months,total_credit_limit,num_delinquencies_2yrs,num_inquiries_6mo,num_collections,account_diversity_index,preferred_contact,referral_code,account_status_code,default
0,personal,17700,36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W,5150.00,...,273.6,169100.0,0.0,2,0,0.499,Mail,REF0000,ACT-2,0
1,mortgage,114000,180,6.83,Refinance,0.774,Branch,1011,B,2383.33,...,42.0,78200.0,0.0,6,0,0.298,Phone,REF0000,ACT-3,1
2,personal,9300,36,13.99,Major Purchase,0.000,Online,1084,K,1725.00,...,0.0,41400.0,0.0,2,0,0.174,Phone,REF0000,ACT-3,0
3,personal,8700,48,13.26,Medical,0.000,Online,1048,A,2616.67,...,108.0,60000.0,0.0,1,0,0.263,Email,REF0000,A01,0
4,personal,7200,24,10.77,Debt Consolidation,0.000,Branch,1055,S,2050.00,...,96.0,49700.0,0.0,1,0,0.298,Mail,REF0000,ACT-3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89162,personal,11300,24,9.70,Home Improvement,0.000,Branch,1050,O,6025.00,...,98.4,135600.0,0.0,1,0,0.285,Email,REF0000,A01,0
89163,personal,16500,36,11.67,Other,0.000,Branch,1071,D,1666.67,...,105.6,44600.0,0.0,1,0,0.353,Mail,REF9754,ACTIVE,0
89164,personal,17800,36,14.99,Major Purchase,0.000,Online,1046,J,1666.67,...,12.0,18300.0,0.0,2,0,0.238,Mail,REF0000,A01,1
89165,credit card,11700,0,19.10,Revolving Credit,0.000,Branch,997,K,1666.67,...,36.0,54300.0,0.0,3,0,0.227,Email,REF0000,ACT-1,0
89166,mortgage,487100,360,5.03,Refinance,0.894,Online,1003,J,2133.33,...,189.6,23700.0,0.0,5,0,0.532,Mail,REF0000,ACTIVE,0

In [33]:
numeric_columns = df.select_dtypes(exclude='object')
object_columns = df.select_dtypes(include='object')

In [36]:
objects_num_column = pd.get_dummies(object_columns, drop_first=True)

In [35]:
new_df = pd.concat([objects_num_column, numeric_columns], axis=1)

,loan_type,loan_purpose,origination_channel,marketing_campaign,employment_type,education,marital_status,state,preferred_contact,referral_code,account_status_code
0,personal,Debt Consolidation,Direct Mail,W,Full-time,Graduate,Married,OH,Mail,REF0000,ACT-2
1,mortgage,Refinance,Branch,B,Full-time,High School,Married,PA,Phone,REF0000,ACT-3
2,personal,Major Purchase,Online,K,Full-time,Bachelor,Single,VA,Phone,REF0000,ACT-3
3,personal,Medical,Online,A,Full-time,Bachelor,Single,CA,Email,REF0000,A01
4,personal,Debt Consolidation,Branch,S,Full-time,High School,Single,WA,Mail,REF0000,ACT-3
...,...,...,...,...,...,...,...,...,...,...,...
89162,personal,Home Improvement,Branch,O,Full-time,Bachelor,Single,CA,Email,REF0000,A01
89163,personal,Other,Branch,D,Full-time,High School,Divorced,IL,Mail,REF9754,ACTIVE
89164,personal,Major Purchase,Online,J,Full-time,High School,Married,CA,Mail,REF0000,A01
89165,credit card,Revolving Credit,Branch,K,Full-time,High School,Married,GA,Email,REF0000,ACT-1
89166,mortgage,Refinance,Online,J,Self-employed,Bachelor,Married,TX,Mail,REF0000,ACTIVE

In [37]:
objects_num_column

,loan_type_credit card,loan_type_mortgage,loan_type_personal,loan_purpose_Home Improvement,loan_purpose_Home Purchase,loan_purpose_Major Purchase,loan_purpose_Medical,loan_purpose_Other,loan_purpose_Refinance,loan_purpose_Revolving Credit,...,referral_code_REF9993,referral_code_REF9994,referral_code_REF9995,referral_code_REF9996,referral_code_REF9997,referral_code_REF9998,account_status_code_ACT-1,account_status_code_ACT-2,account_status_code_ACT-3,account_status_code_ACTIVE
0,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,True,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
2,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,False,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89162,False,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
89163,False,False,True,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,True
89164,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
89165,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,True,False,False,False
89166,False,True,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True

In [38]:
numeric_columns

,loan_amount,loan_term,interest_rate,loan_to_value_ratio,loan_officer_id,monthly_income,existing_monthly_debt,monthly_payment,debt_service_ratio,payment_to_income_ratio,...,credit_score,num_credit_accounts,oldest_credit_line_age,oldest_account_age_months,total_credit_limit,num_delinquencies_2yrs,num_inquiries_6mo,num_collections,account_diversity_index,default
0,17700,36,12.50,0.000,1045,5150.00,738.64,592.13,0.258402,0.115,...,696,14,22.8,273.6,169100.0,0.0,2,0,0.499,0
1,114000,180,6.83,0.774,1011,2383.33,392.21,1013.86,0.589959,0.425,...,659,13,3.5,42.0,78200.0,0.0,6,0,0.298,1
2,9300,36,13.99,0.000,1084,1725.00,204.07,317.81,0.302539,0.184,...,662,3,0.0,0.0,41400.0,0.0,2,0,0.174,0
3,8700,48,13.26,0.000,1048,2616.67,288.71,234.52,0.199961,0.090,...,676,8,9.0,108.0,60000.0,0.0,1,0,0.263,0
4,7200,24,10.77,0.000,1055,2050.00,248.77,334.81,0.284673,0.163,...,678,7,8.0,96.0,49700.0,0.0,1,0,0.298,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89162,11300,24,9.70,0.000,1050,6025.00,2120.97,519.87,0.438314,0.086,...,817,10,8.2,98.4,135600.0,0.0,1,0,0.285,0
89163,16500,36,11.67,0.000,1071,1666.67,138.97,545.44,0.410646,0.327,...,745,9,8.8,105.6,44600.0,0.0,1,0,0.353,0
89164,17800,36,14.99,0.000,1046,1666.67,129.90,616.96,0.448116,0.370,...,607,11,1.0,12.0,18300.0,0.0,2,0,0.238,1
89165,11700,0,19.10,0.000,997,1666.67,162.11,351.00,0.307866,0.211,...,678,10,3.0,36.0,54300.0,0.0,3,0,0.227,0
89166,487100,360,5.03,0.894,1003,2133.33,303.19,2623.80,1.372027,1.230,...,730,16,15.8,189.6,23700.0,0.0,5,0,0.532,0

In [40]:
columns = object_columns.columns

In [42]:
len(columns)

11

In [48]:
for col in columns:
    print(f"{col} {len(object_columns[col].value_counts())}")

loan_type 4
loan_purpose 8
origination_channel 4
marketing_campaign 26
employment_type 4
education 5
marital_status 3
state 20
preferred_contact 3
referral_code 7773
account_status_code 5

In [49]:
object_columns['referral_code'].value_counts()

referral_code
REF0000    71326
REF4315       13
REF4048        9
REF9450        9
REF1887        8
           ...
REF6142        1
REF1378        1
REF6969        1
REF2345        1
REF3820        1
Name: count, Length: 7773, dtype: int64

In [ ]:
object_columns['referral_code', ]

In [52]:
df[['referral_code', 'default']]

      referral_code  default
0           REF0000        0
1           REF0000        1
2           REF0000        0
3           REF0000        0
4           REF0000        0
...             ...      ...
89162       REF0000        0
89163       REF9754        0
89164       REF0000        1
89165       REF0000        0
89166       REF0000        0

[89167 rows x 2 columns]

In [53]:
numeric_columns = df.select_dtypes(exclude='object')
object_columns = df.select_dtypes(include='object')

In [54]:
new_df = pd.concat([objects_num_column, numeric_columns], axis=1)

In [55]:
new_df

,loan_type_credit card,loan_type_mortgage,loan_type_personal,loan_purpose_Home Improvement,loan_purpose_Home Purchase,loan_purpose_Major Purchase,loan_purpose_Medical,loan_purpose_Other,loan_purpose_Refinance,loan_purpose_Revolving Credit,...,credit_score,num_credit_accounts,oldest_credit_line_age,oldest_account_age_months,total_credit_limit,num_delinquencies_2yrs,num_inquiries_6mo,num_collections,account_diversity_index,default
0,False,False,True,False,False,False,False,False,False,False,...,696,14,22.8,273.6,169100.0,0.0,2,0,0.499,0
1,False,True,False,False,False,False,False,False,True,False,...,659,13,3.5,42.0,78200.0,0.0,6,0,0.298,1
2,False,False,True,False,False,True,False,False,False,False,...,662,3,0.0,0.0,41400.0,0.0,2,0,0.174,0
3,False,False,True,False,False,False,True,False,False,False,...,676,8,9.0,108.0,60000.0,0.0,1,0,0.263,0
4,False,False,True,False,False,False,False,False,False,False,...,678,7,8.0,96.0,49700.0,0.0,1,0,0.298,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89162,False,False,True,True,False,False,False,False,False,False,...,817,10,8.2,98.4,135600.0,0.0,1,0,0.285,0
89163,False,False,True,False,False,False,False,True,False,False,...,745,9,8.8,105.6,44600.0,0.0,1,0,0.353,0
89164,False,False,True,False,False,True,False,False,False,False,...,607,11,1.0,12.0,18300.0,0.0,2,0,0.238,1
89165,True,False,False,False,False,False,False,False,False,True,...,678,10,3.0,36.0,54300.0,0.0,3,0,0.227,0
89166,False,True,False,False,False,False,False,False,True,False,...,730,16,15.8,189.6,23700.0,0.0,5,0,0.532,0

In [56]:
df

,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign,monthly_income,...,oldest_account_age_months,total_credit_limit,num_delinquencies_2yrs,num_inquiries_6mo,num_collections,account_diversity_index,preferred_contact,referral_code,account_status_code,default
0,personal,17700,36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W,5150.00,...,273.6,169100.0,0.0,2,0,0.499,Mail,REF0000,ACT-2,0
1,mortgage,114000,180,6.83,Refinance,0.774,Branch,1011,B,2383.33,...,42.0,78200.0,0.0,6,0,0.298,Phone,REF0000,ACT-3,1
2,personal,9300,36,13.99,Major Purchase,0.000,Online,1084,K,1725.00,...,0.0,41400.0,0.0,2,0,0.174,Phone,REF0000,ACT-3,0
3,personal,8700,48,13.26,Medical,0.000,Online,1048,A,2616.67,...,108.0,60000.0,0.0,1,0,0.263,Email,REF0000,A01,0
4,personal,7200,24,10.77,Debt Consolidation,0.000,Branch,1055,S,2050.00,...,96.0,49700.0,0.0,1,0,0.298,Mail,REF0000,ACT-3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89162,personal,11300,24,9.70,Home Improvement,0.000,Branch,1050,O,6025.00,...,98.4,135600.0,0.0,1,0,0.285,Email,REF0000,A01,0
89163,personal,16500,36,11.67,Other,0.000,Branch,1071,D,1666.67,...,105.6,44600.0,0.0,1,0,0.353,Mail,REF9754,ACTIVE,0
89164,personal,17800,36,14.99,Major Purchase,0.000,Online,1046,J,1666.67,...,12.0,18300.0,0.0,2,0,0.238,Mail,REF0000,A01,1
89165,credit card,11700,0,19.10,Revolving Credit,0.000,Branch,997,K,1666.67,...,36.0,54300.0,0.0,3,0,0.227,Email,REF0000,ACT-1,0
89166,mortgage,487100,360,5.03,Refinance,0.894,Online,1003,J,2133.33,...,189.6,23700.0,0.0,5,0,0.532,Mail,REF0000,ACTIVE,0

In [61]:
(df[df['referral_code']=='REF0000']['default']).value_counts()

default
0    67704
1     3622
Name: count, dtype: int64

In [62]:
df['default'].value_counts()

default
0    84611
1     4556
Name: count, dtype: int64

In [64]:
df2 = df.drop('referral_code', axis=1)

In [65]:
df2

,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign,monthly_income,...,oldest_credit_line_age,oldest_account_age_months,total_credit_limit,num_delinquencies_2yrs,num_inquiries_6mo,num_collections,account_diversity_index,preferred_contact,account_status_code,default
0,personal,17700,36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W,5150.00,...,22.8,273.6,169100.0,0.0,2,0,0.499,Mail,ACT-2,0
1,mortgage,114000,180,6.83,Refinance,0.774,Branch,1011,B,2383.33,...,3.5,42.0,78200.0,0.0,6,0,0.298,Phone,ACT-3,1
2,personal,9300,36,13.99,Major Purchase,0.000,Online,1084,K,1725.00,...,0.0,0.0,41400.0,0.0,2,0,0.174,Phone,ACT-3,0
3,personal,8700,48,13.26,Medical,0.000,Online,1048,A,2616.67,...,9.0,108.0,60000.0,0.0,1,0,0.263,Email,A01,0
4,personal,7200,24,10.77,Debt Consolidation,0.000,Branch,1055,S,2050.00,...,8.0,96.0,49700.0,0.0,1,0,0.298,Mail,ACT-3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89162,personal,11300,24,9.70,Home Improvement,0.000,Branch,1050,O,6025.00,...,8.2,98.4,135600.0,0.0,1,0,0.285,Email,A01,0
89163,personal,16500,36,11.67,Other,0.000,Branch,1071,D,1666.67,...,8.8,105.6,44600.0,0.0,1,0,0.353,Mail,ACTIVE,0
89164,personal,17800,36,14.99,Major Purchase,0.000,Online,1046,J,1666.67,...,1.0,12.0,18300.0,0.0,2,0,0.238,Mail,A01,1
89165,credit card,11700,0,19.10,Revolving Credit,0.000,Branch,997,K,1666.67,...,3.0,36.0,54300.0,0.0,3,0,0.227,Email,ACT-1,0
89166,mortgage,487100,360,5.03,Refinance,0.894,Online,1003,J,2133.33,...,15.8,189.6,23700.0,0.0,5,0,0.532,Mail,ACTIVE,0

In [66]:
numeric_columns2 = df2.select_dtypes(exclude='object')
object_columns2 = df2.select_dtypes(include='object')

In [67]:
object_columns2

,loan_type,loan_purpose,origination_channel,marketing_campaign,employment_type,education,marital_status,state,preferred_contact,account_status_code
0,personal,Debt Consolidation,Direct Mail,W,Full-time,Graduate,Married,OH,Mail,ACT-2
1,mortgage,Refinance,Branch,B,Full-time,High School,Married,PA,Phone,ACT-3
2,personal,Major Purchase,Online,K,Full-time,Bachelor,Single,VA,Phone,ACT-3
3,personal,Medical,Online,A,Full-time,Bachelor,Single,CA,Email,A01
4,personal,Debt Consolidation,Branch,S,Full-time,High School,Single,WA,Mail,ACT-3
...,...,...,...,...,...,...,...,...,...,...
89162,personal,Home Improvement,Branch,O,Full-time,Bachelor,Single,CA,Email,A01
89163,personal,Other,Branch,D,Full-time,High School,Divorced,IL,Mail,ACTIVE
89164,personal,Major Purchase,Online,J,Full-time,High School,Married,CA,Mail,A01
89165,credit card,Revolving Credit,Branch,K,Full-time,High School,Married,GA,Email,ACT-1
89166,mortgage,Refinance,Online,J,Self-employed,Bachelor,Married,TX,Mail,ACTIVE

In [68]:
objects_num_column2 = pd.get_dummies(object_columns2, drop_first=True)

In [69]:
objects_num_column2

,loan_type_credit card,loan_type_mortgage,loan_type_personal,loan_purpose_Home Improvement,loan_purpose_Home Purchase,loan_purpose_Major Purchase,loan_purpose_Medical,loan_purpose_Other,loan_purpose_Refinance,loan_purpose_Revolving Credit,...,state_TX,state_VA,state_WA,state_WI,preferred_contact_Mail,preferred_contact_Phone,account_status_code_ACT-1,account_status_code_ACT-2,account_status_code_ACT-3,account_status_code_ACTIVE
0,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,True,False,False
1,False,True,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,False,False,True,False
2,False,False,True,False,False,True,False,False,False,False,...,False,True,False,False,False,True,False,False,True,False
3,False,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False,...,False,False,True,False,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89162,False,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
89163,False,False,True,False,False,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,True
89164,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
89165,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,True,False,False,False
89166,False,True,False,False,False,False,False,False,True,False,...,True,False,False,False,True,False,False,False,False,True

In [70]:
new_df2 = pd.concat([objects_num_column2, numeric_columns2], axis=1)

In [72]:
new_df2.to_csv('final_data_no_ref.csv', index=False)

In [78]:
df.to_csv('final_df_with_ref.csv', index=False)

In [74]:
numeric_columns = df.select_dtypes(exclude='object')
object_columns = df.select_dtypes(include='object')

In [77]:
df2.to_csv('final_df_without_ref.csv', index=False)

In [79]:
objects_num_column = pd.get_dummies(object_columns, drop_first=True)

In [ ]:
new_df = pd.concat([objects_num_column, numeric_columns], axis=1)

In [81]:
new_df.to_csv('final_dataset_with_ref.csv', index=False)