In [13]:
import pandas as pd
import numpy as np

In [14]:
demographics_df = pd.read_csv('demographics.csv')
app_meta_df = pd.read_csv('application_metadata.csv')
financial_ratios = pd.read_json("financial_ratios.jsonl", lines=True)
loan_details = pd.read_excel('loan_details.xlsx')
credit_history = pd.read_parquet("credit_history.parquet")
geographic_df = pd.read_xml('geographic_data.xml')

In [15]:
demographics_df

,cust_id,age,annual_income,employment_length,employment_type,education,marital_status,num_dependents
0,10000,41,$61800,2.2,Full-time,Graduate,Married,2
1,10001,38,"28,600",7.0,FULL_TIME,High School,Married,0
2,10002,18,"$20,700",0.8,FULL_TIME,Bachelor,Single,0
3,10003,27,"31,400",4.8,Full Time,Bachelor,Single,0
4,10004,26,$24600,5.2,Fulltime,High School,Single,0
...,...,...,...,...,...,...,...,...
89994,99994,52,"$72,300",3.7,Full-time,Bachelor,Single,1
89995,99995,61,"20,000",4.2,Full-time,High School,Divorced,1
89996,99996,19,"$20,000",1.5,Fulltime,High School,Married,3
89997,99997,21,"$20,000",3.5,FT,High School,Married,1
89998,99998,36,$25600,2.0,Self Employed,Bachelor,Married,3

In [16]:
app_meta_df

,customer_ref,application_id,application_hour,application_day_of_week,account_open_year,preferred_contact,referral_code,account_status_code,random_noise_1,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing,default
0,10000,620515,5,6,2013,Mail,REF0000,ACT-2,1.137099,13,2,1,1,0
1,10001,624978,4,2,2015,Phone,REF0000,ACT-3,-0.164932,6,1,1,1,1
2,10002,564658,10,3,2020,Phone,REF0000,ACT-3,0.526700,1,2,1,0,0
3,10003,621493,7,5,2010,Email,REF0000,A01,-0.709779,4,1,1,1,0
4,10004,637785,1,2,2020,Mail,REF0000,ACT-3,-0.603132,6,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89994,99994,585752,13,5,2016,Email,REF0000,A01,1.628917,10,3,0,1,0
89995,99995,595205,13,5,2014,Mail,REF9754,ACTIVE,-0.501960,12,1,1,0,0
89996,99996,544796,7,5,2010,Mail,REF0000,A01,-0.964956,4,2,1,1,1
89997,99997,560885,8,3,2021,Email,REF0000,ACT-1,0.328372,5,2,0,0,0
89998,99998,613089,15,5,2022,Mail,REF0000,ACTIVE,-0.318403,5,3,1,0,0

In [17]:
financial_ratios

,cust_num,monthly_income,existing_monthly_debt,monthly_payment,debt_to_income_ratio,debt_service_ratio,payment_to_income_ratio,credit_utilization,revolving_balance,credit_usage_amount,available_credit,total_monthly_debt_payment,annual_debt_payment,loan_to_annual_income,total_debt_amount,monthly_free_cash_flow
0,10000,"5,150.00",738.64,$592.13,0.258,0.258402,0.115,0.841,"$142,213.10","$142,213.10","$26,886.90",1330.77,15969.24,0.286408,"159,913.10","3,819.23"
1,10001,"2,383.33",392.21,"1,013.86",0.590,0.589959,0.425,0.971,"$75,932.20","75,932.20","$2,267.80",1406.07,16872.84,3.986014,"189,932.20",$977.26
2,10002,"1,725.00",204.07,$317.81,0.303,0.302539,0.184,0.539,22314.6,"22,314.60","$19,085.40",521.88,6262.56,0.449275,31614.6,1203.12
3,10003,"2,616.67",$288.71,234.52,0.200,0.199961,0.090,0.147,"8,820.00",8820.0,"51,180.00",523.23,6278.76,0.277070,"$17,520.00",2093.4366666666665
4,10004,"2,050.00",$248.77,334.81,0.285,0.284673,0.163,0.488,24253.6,24253.6,"25,446.40",583.58,7002.96,0.292683,"$31,453.60",1466.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89994,99994,"6,025.00","2,120.97",519.87,0.438,0.438314,0.086,0.359,"48,680.40","48,680.40","$86,919.60","2,640.84",31690.08,0.156293,"$59,980.40","$3,384.16"
89995,99995,"$1,666.67",138.97,$545.44,0.411,0.410646,0.327,0.355,"15,833.00",15833.0,"$28,767.00",$684.41,8212.92,0.825000,32333.0,982.26
89996,99996,"1,666.67",$129.90,616.96,0.448,0.448116,0.370,0.669,"12,242.70",12242.7,"$6,057.30",$746.86,8962.32,0.890000,30042.7,919.8066666666667
89997,99997,"$1,666.67",162.11,$351.00,0.308,0.307866,0.211,0.562,"$30,516.60","30,516.60",23783.4,513.11,6157.32,0.585000,42216.6,"$1,153.56"
89998,99998,"2,133.33",303.19,"2,623.80",1.372,1.372027,1.230,0.248,5877.6,5877.6,"17,822.40","2,926.99",35123.88,19.027344,492977.6,$-793.66

In [18]:
loan_details

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign
0,10000,Personal,"$17,700",36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W
1,10001,mortgage,"$114,000",180,6.83,Refinance,0.774,Branch,1011,B
2,10002,Personal Loan,"9,300",36,13.99,Major Purchase,0.000,Online,1084,K
3,10003,PERSONAL,$8700,48,13.26,Medical,0.000,Online,1048,A
4,10004,Personal,"$7,200",24,10.77,Debt Consolidation,0.000,Branch,1055,S
...,...,...,...,...,...,...,...,...,...,...
89994,99994,personal,"$11,300",24,9.70,Home Improvement,0.000,Branch,1050,O
89995,99995,personal,"16,500",36,11.67,Other,0.000,Branch,1071,D
89996,99996,Personal Loan,"17,800",36,14.99,Major Purchase,0.000,Online,1046,J
89997,99997,Credit Card,$11700,0,19.10,Revolving Credit,0.000,Branch,997,K
89998,99998,Mortgage,$487100,360,5.03,Refinance,0.894,Online,1003,J

In [19]:
credit_history

,customer_number,credit_score,num_credit_accounts,oldest_credit_line_age,oldest_account_age_months,total_credit_limit,num_delinquencies_2yrs,num_inquiries_6mo,recent_inquiry_count,num_public_records,num_collections,account_diversity_index
0,10000,696,14,22.8,273.6,169100.0,0.0,2,2,1,0,0.499
1,10001,659,13,3.5,42.0,78200.0,0.0,6,6,0,0,0.298
2,10002,662,3,0.0,0.0,41400.0,0.0,2,2,0,0,0.174
3,10003,676,8,9.0,108.0,60000.0,0.0,1,1,0,0,0.263
4,10004,678,7,8.0,96.0,49700.0,0.0,1,1,0,0,0.298
...,...,...,...,...,...,...,...,...,...,...,...,...
89994,99994,817,10,8.2,98.4,135600.0,0.0,1,1,0,0,0.285
89995,99995,745,9,8.8,105.6,44600.0,0.0,1,1,0,0,0.353
89996,99996,607,11,1.0,12.0,18300.0,0.0,2,2,1,0,0.238
89997,99997,678,10,3.0,36.0,54300.0,0.0,3,3,0,0,0.227
89998,99998,730,16,15.8,189.6,23700.0,0.0,5,5,0,0,0.532

In [20]:
geographic_df

,id,state,regional_unemployment_rate,regional_median_income,regional_median_rent,housing_price_index,cost_of_living_index,previous_zip_code
0,10000,OH,4.8,56000,1380.0,91.0,73.0,451
1,10001,PA,4.4,61000,1510.0,92.0,87.0,537
2,10002,VA,3.9,74000,1920.0,125.0,103.0,679
3,10003,CA,5.8,75000,1690.0,158.0,121.0,719
4,10004,WA,5.8,78000,1700.0,152.0,127.0,933
...,...,...,...,...,...,...,...,...
89994,99994,CA,5.8,75000,1830.0,168.0,138.0,933
89995,99995,IL,4.9,65000,1900.0,99.0,84.0,536
89996,99996,CA,5.4,75000,1560.0,157.0,127.0,193
89997,99997,GA,4.3,58000,1310.0,103.0,92.0,555
89998,99998,TX,3.9,61000,1310.0,115.0,92.0,627

In [21]:
merged_df = pd.concat([loan_details, financial_ratios, demographics_df, geographic_df, credit_history, app_meta_df], axis=1)

<hr>
<h1> merging </h1>

In [22]:
merged_df.isnull().sum()

customer_id                   0
loan_type                     0
loan_amount                   0
loan_term                     0
interest_rate                 0
                             ..
num_login_sessions            0
num_customer_service_calls    0
has_mobile_app                0
paperless_billing             0
default                       0
Length: 68, dtype: int64

In [23]:
merged_df.to_csv('merged.csv', index=False)

In [25]:
merged_df

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign,...,account_open_year,preferred_contact,referral_code,account_status_code,random_noise_1,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing,default
0,10000,Personal,"$17,700",36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W,...,2013,Mail,REF0000,ACT-2,1.137099,13,2,1,1,0
1,10001,mortgage,"$114,000",180,6.83,Refinance,0.774,Branch,1011,B,...,2015,Phone,REF0000,ACT-3,-0.164932,6,1,1,1,1
2,10002,Personal Loan,"9,300",36,13.99,Major Purchase,0.000,Online,1084,K,...,2020,Phone,REF0000,ACT-3,0.526700,1,2,1,0,0
3,10003,PERSONAL,$8700,48,13.26,Medical,0.000,Online,1048,A,...,2010,Email,REF0000,A01,-0.709779,4,1,1,1,0
4,10004,Personal,"$7,200",24,10.77,Debt Consolidation,0.000,Branch,1055,S,...,2020,Mail,REF0000,ACT-3,-0.603132,6,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89994,99994,personal,"$11,300",24,9.70,Home Improvement,0.000,Branch,1050,O,...,2016,Email,REF0000,A01,1.628917,10,3,0,1,0
89995,99995,personal,"16,500",36,11.67,Other,0.000,Branch,1071,D,...,2014,Mail,REF9754,ACTIVE,-0.501960,12,1,1,0,0
89996,99996,Personal Loan,"17,800",36,14.99,Major Purchase,0.000,Online,1046,J,...,2010,Mail,REF0000,A01,-0.964956,4,2,1,1,1
89997,99997,Credit Card,$11700,0,19.10,Revolving Credit,0.000,Branch,997,K,...,2021,Email,REF0000,ACT-1,0.328372,5,2,0,0,0
89998,99998,Mortgage,$487100,360,5.03,Refinance,0.894,Online,1003,J,...,2022,Mail,REF0000,ACTIVE,-0.318403,5,3,1,0,0

In [26]:
merged_df.describe()

,customer_id,loan_term,interest_rate,loan_to_value_ratio,loan_officer_id,cust_num,debt_to_income_ratio,debt_service_ratio,payment_to_income_ratio,credit_utilization,...,application_id,application_hour,application_day_of_week,account_open_year,random_noise_1,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing,default
count,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,...,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000
mean,54999.000000,132.369204,11.278835,0.273598,1045.791587,54999.000000,0.531225,0.531225,0.305673,0.440818,...,594846.054934,11.475539,2.993755,2016.497517,0.000091,8.814387,1.994544,0.713308,0.620262,0.051045
std,25980.617776,152.657187,4.607331,0.378284,32.327924,25980.617776,0.379553,0.379553,0.365596,0.183609,...,28850.062092,6.901162,2.005926,4.020588,0.997134,3.823459,1.413004,0.452219,0.485324,0.220091
min,10000.000000,0.000000,2.500000,0.000000,995.000000,10000.000000,0.054000,0.054046,0.002000,0.013000,...,544794.000000,0.000000,0.000000,2010.000000,-4.091319,1.000000,0.000000,0.000000,0.000000,0.000000
25%,32499.500000,12.000000,6.960000,0.000000,1010.000000,32499.500000,0.296000,0.295993,0.077000,0.306000,...,569870.500000,6.000000,1.000000,2013.000000,-0.671945,6.000000,1.000000,0.000000,0.000000,0.000000
50%,54999.000000,48.000000,11.290000,0.000000,1048.000000,54999.000000,0.424000,0.423515,0.169000,0.434000,...,594901.000000,11.000000,3.000000,2017.000000,0.003168,8.000000,2.000000,1.000000,1.000000,0.000000
75%,77498.500000,360.000000,14.820000,0.725000,1077.000000,77498.500000,0.628000,0.627591,0.384000,0.566000,...,619775.500000,17.000000,5.000000,2020.000000,0.668945,11.000000,3.000000,1.000000,1.000000,0.000000
max,99998.000000,360.000000,22.800000,0.970000,1099.000000,99998.000000,4.630000,4.630482,4.526000,1.000000,...,644793.000000,23.000000,6.000000,2023.000000,5.236351,34.000000,11.000000,1.000000,1.000000,1.000000