In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('validation_set.csv')

In [4]:
df

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign,...,application_day_of_week,account_open_year,preferred_contact,referral_code,account_status_code,random_noise_1,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing
0,100000,Personal,$11300,24,10.26,Debt Consolidation,0.000,Online,1066,T,...,0,2018,Email,REF0000,ACT-1,1.141229,12,2,0,0
1,100001,CC,"6,800",0,17.74,Revolving Credit,0.000,Branch,1041,B,...,6,2021,Phone,REF0000,ACT-1,0.943839,10,4,0,1
2,100002,credit card,"$3,400",0,19.42,Revolving Credit,0.000,Online,1001,W,...,4,2019,Phone,REF0000,ACT-1,-0.116033,4,3,1,1
3,100003,CC,"$12,000",0,20.95,Revolving Credit,0.000,Online,1098,D,...,4,2011,Email,REF0000,ACT-2,-0.040562,7,0,1,0
4,100004,MORTGAGE,"$279,900",360,6.99,Refinance,0.798,Online,1067,H,...,1,2021,Email,REF0000,ACT-1,0.819017,6,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,109996,MORTGAGE,$275000,360,5.72,Refinance,0.844,Broker,1015,L,...,6,2020,Email,REF0000,ACTIVE,-0.595108,7,2,0,1
9997,109997,PERSONAL,"8,200",24,10.36,Major Purchase,0.000,Branch,1000,E,...,5,2018,Email,REF0000,ACTIVE,-0.037587,6,3,1,1
9998,109998,Personal,"17,700",48,11.59,Major Purchase,0.000,Branch,1011,F,...,0,2014,Phone,REF0000,ACTIVE,0.454157,4,1,1,0
9999,109999,Personal Loan,"$19,900",60,12.94,Medical,0.000,Branch,1068,O,...,5,2014,Mail,REF0000,ACTIVE,0.682559,6,0,0,0
10000,110000,Personal Loan,"$22,800",24,12.32,Home Improvement,0.000,Online,1011,Z,...,4,2016,Phone,REF0000,ACT-1,0.044070,4,4,1,0

In [5]:
df = df.drop(['cust_num', 'cust_id', 'id', 'previous_zip_code', 'customer_number', 'customer_ref', 'application_id'], axis=1)

In [6]:
df

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign,...,application_day_of_week,account_open_year,preferred_contact,referral_code,account_status_code,random_noise_1,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing
0,100000,Personal,$11300,24,10.26,Debt Consolidation,0.000,Online,1066,T,...,0,2018,Email,REF0000,ACT-1,1.141229,12,2,0,0
1,100001,CC,"6,800",0,17.74,Revolving Credit,0.000,Branch,1041,B,...,6,2021,Phone,REF0000,ACT-1,0.943839,10,4,0,1
2,100002,credit card,"$3,400",0,19.42,Revolving Credit,0.000,Online,1001,W,...,4,2019,Phone,REF0000,ACT-1,-0.116033,4,3,1,1
3,100003,CC,"$12,000",0,20.95,Revolving Credit,0.000,Online,1098,D,...,4,2011,Email,REF0000,ACT-2,-0.040562,7,0,1,0
4,100004,MORTGAGE,"$279,900",360,6.99,Refinance,0.798,Online,1067,H,...,1,2021,Email,REF0000,ACT-1,0.819017,6,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,109996,MORTGAGE,$275000,360,5.72,Refinance,0.844,Broker,1015,L,...,6,2020,Email,REF0000,ACTIVE,-0.595108,7,2,0,1
9997,109997,PERSONAL,"8,200",24,10.36,Major Purchase,0.000,Branch,1000,E,...,5,2018,Email,REF0000,ACTIVE,-0.037587,6,3,1,1
9998,109998,Personal,"17,700",48,11.59,Major Purchase,0.000,Branch,1011,F,...,0,2014,Phone,REF0000,ACTIVE,0.454157,4,1,1,0
9999,109999,Personal Loan,"$19,900",60,12.94,Medical,0.000,Branch,1068,O,...,5,2014,Mail,REF0000,ACTIVE,0.682559,6,0,0,0
10000,110000,Personal Loan,"$22,800",24,12.32,Home Improvement,0.000,Online,1011,Z,...,4,2016,Phone,REF0000,ACT-1,0.044070,4,4,1,0

In [9]:
old = pd.read_csv('final_df_without_ref.csv')

In [10]:
old

,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign,monthly_income,...,oldest_credit_line_age,oldest_account_age_months,total_credit_limit,num_delinquencies_2yrs,num_inquiries_6mo,num_collections,account_diversity_index,preferred_contact,account_status_code,default
0,personal,17700,36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W,5150.00,...,22.8,273.6,169100.0,0.0,2,0,0.499,Mail,ACT-2,0
1,mortgage,114000,180,6.83,Refinance,0.774,Branch,1011,B,2383.33,...,3.5,42.0,78200.0,0.0,6,0,0.298,Phone,ACT-3,1
2,personal,9300,36,13.99,Major Purchase,0.000,Online,1084,K,1725.00,...,0.0,0.0,41400.0,0.0,2,0,0.174,Phone,ACT-3,0
3,personal,8700,48,13.26,Medical,0.000,Online,1048,A,2616.67,...,9.0,108.0,60000.0,0.0,1,0,0.263,Email,A01,0
4,personal,7200,24,10.77,Debt Consolidation,0.000,Branch,1055,S,2050.00,...,8.0,96.0,49700.0,0.0,1,0,0.298,Mail,ACT-3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89162,personal,11300,24,9.70,Home Improvement,0.000,Branch,1050,O,6025.00,...,8.2,98.4,135600.0,0.0,1,0,0.285,Email,A01,0
89163,personal,16500,36,11.67,Other,0.000,Branch,1071,D,1666.67,...,8.8,105.6,44600.0,0.0,1,0,0.353,Mail,ACTIVE,0
89164,personal,17800,36,14.99,Major Purchase,0.000,Online,1046,J,1666.67,...,1.0,12.0,18300.0,0.0,2,0,0.238,Mail,A01,1
89165,credit card,11700,0,19.10,Revolving Credit,0.000,Branch,997,K,1666.67,...,3.0,36.0,54300.0,0.0,3,0,0.227,Email,ACT-1,0
89166,mortgage,487100,360,5.03,Refinance,0.894,Online,1003,J,2133.33,...,15.8,189.6,23700.0,0.0,5,0,0.532,Mail,ACTIVE,0

In [11]:
df

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign,...,application_day_of_week,account_open_year,preferred_contact,referral_code,account_status_code,random_noise_1,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing
0,100000,Personal,$11300,24,10.26,Debt Consolidation,0.000,Online,1066,T,...,0,2018,Email,REF0000,ACT-1,1.141229,12,2,0,0
1,100001,CC,"6,800",0,17.74,Revolving Credit,0.000,Branch,1041,B,...,6,2021,Phone,REF0000,ACT-1,0.943839,10,4,0,1
2,100002,credit card,"$3,400",0,19.42,Revolving Credit,0.000,Online,1001,W,...,4,2019,Phone,REF0000,ACT-1,-0.116033,4,3,1,1
3,100003,CC,"$12,000",0,20.95,Revolving Credit,0.000,Online,1098,D,...,4,2011,Email,REF0000,ACT-2,-0.040562,7,0,1,0
4,100004,MORTGAGE,"$279,900",360,6.99,Refinance,0.798,Online,1067,H,...,1,2021,Email,REF0000,ACT-1,0.819017,6,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,109996,MORTGAGE,$275000,360,5.72,Refinance,0.844,Broker,1015,L,...,6,2020,Email,REF0000,ACTIVE,-0.595108,7,2,0,1
9997,109997,PERSONAL,"8,200",24,10.36,Major Purchase,0.000,Branch,1000,E,...,5,2018,Email,REF0000,ACTIVE,-0.037587,6,3,1,1
9998,109998,Personal,"17,700",48,11.59,Major Purchase,0.000,Branch,1011,F,...,0,2014,Phone,REF0000,ACTIVE,0.454157,4,1,1,0
9999,109999,Personal Loan,"$19,900",60,12.94,Medical,0.000,Branch,1068,O,...,5,2014,Mail,REF0000,ACTIVE,0.682559,6,0,0,0
10000,110000,Personal Loan,"$22,800",24,12.32,Home Improvement,0.000,Online,1011,Z,...,4,2016,Phone,REF0000,ACT-1,0.044070,4,4,1,0

In [ ]:
df = df.drop([
    'random_noise_1'
], axis=1)

In [12]:
cols_to_drop = [col for col in df.columns if col not in old.columns]

In [13]:
cols_to_drop

['customer_id',
 'debt_to_income_ratio',
 'revolving_balance',
 'annual_debt_payment',
 'annual_income',
 'recent_inquiry_count',
 'num_public_records',
 'application_hour',
 'application_day_of_week',
 'account_open_year',
 'referral_code',
 'random_noise_1',
 'num_login_sessions',
 'num_customer_service_calls',
 'has_mobile_app',
 'paperless_billing']

In [14]:
for col in cols_to_drop:
    # Use inplace=True to modify df1 directly
    df = df.drop(columns=col, axis=1)

In [15]:
df

,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign,monthly_income,...,num_credit_accounts,oldest_credit_line_age,oldest_account_age_months,total_credit_limit,num_delinquencies_2yrs,num_inquiries_6mo,num_collections,account_diversity_index,preferred_contact,account_status_code
0,Personal,$11300,24,10.26,Debt Consolidation,0.000,Online,1066,T,$4358,...,8,1.5,18.0,140600.0,0.0,1,0,0.250,Email,ACT-1
1,CC,"6,800",0,17.74,Revolving Credit,0.000,Branch,1041,B,"3,808.33",...,7,14.6,175.2,90400.0,0.0,1,0,0.284,Phone,ACT-1
2,credit card,"$3,400",0,19.42,Revolving Credit,0.000,Online,1001,W,"1,666.67",...,0,4.0,48.0,32400.0,0.0,5,1,0.050,Phone,ACT-1
3,CC,"$12,000",0,20.95,Revolving Credit,0.000,Online,1098,D,"3,691.67",...,14,9.0,108.0,39100.0,NaN,0,0,0.347,Email,ACT-2
4,MORTGAGE,"$279,900",360,6.99,Refinance,0.798,Online,1067,H,"$3,425.00",...,5,8.7,104.4,47900.0,0.0,2,0,0.239,Email,ACT-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,MORTGAGE,$275000,360,5.72,Refinance,0.844,Broker,1015,L,$2717,...,12,14.2,170.4,25300.0,1.0,4,0,0.335,Email,ACTIVE
9997,PERSONAL,"8,200",24,10.36,Major Purchase,0.000,Branch,1000,E,$2258,...,5,0.6,7.2,58700.0,0.0,3,0,0.129,Email,ACTIVE
9998,Personal,"17,700",48,11.59,Major Purchase,0.000,Branch,1011,F,"$1,950.00",...,10,2.0,24.0,49400.0,1.0,1,0,0.291,Phone,ACTIVE
9999,Personal Loan,"$19,900",60,12.94,Medical,0.000,Branch,1068,O,"2,900.00",...,2,4.4,52.8,59500.0,0.0,0,0,0.176,Mail,ACTIVE
10000,Personal Loan,"$22,800",24,12.32,Home Improvement,0.000,Online,1011,Z,"2,591.67",...,11,14.5,174.0,25700.0,0.0,0,0,0.447,Phone,ACT-1

In [16]:
def convert_loan_type(value):
  if value in ['Personal', 'Personal Loan', 'personal', 'PERSONAL']:
    return 'personal'
  elif value in ['MORTGAGE', 'mortgage', 'Mortgage']:
    return 'mortgage'
  elif value in ['Credit Card', 'CreditCard', 'credit card', 'CC']:
    return 'credit card'
  else:
    return value

df['loan_type'] = df['loan_type'].map(convert_loan_type)


def convert_employment_type(value):
  if value in ['Full-time', 'Full Time', 'FULL_TIME', 'Fulltime', 'FT']:
    return 'Full-time'
  elif value in ['SELF_EMPLOYED', 'Self Emp', 'Self Employed', 'Self-employed']:
    return 'Self-employed'
  elif value in ['PART_TIME', 'Part-time', 'Part Time', 'PT']:
    return 'Part-time'
  elif value in ['Contractor', 'CONTRACT', 'Contract']:
    return 'Contract'

df['employment_type'] = df['employment_type'].apply(convert_employment_type)

In [19]:
financial_cols = [
    'credit_usage_amount',
    'available_credit',
    'total_monthly_debt_payment',
    'total_debt_amount',
    'monthly_free_cash_flow',
]

for col in financial_cols:
    df[col] = (
        df[col]
        .astype(str) # Ensure it's treated as a string series first
        .str.replace(r'[\$,]', '', regex=True)
        .astype(float)
    )

In [20]:
df

,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign,monthly_income,...,num_credit_accounts,oldest_credit_line_age,oldest_account_age_months,total_credit_limit,num_delinquencies_2yrs,num_inquiries_6mo,num_collections,account_diversity_index,preferred_contact,account_status_code
0,personal,$11300,24,10.26,Debt Consolidation,0.000,Online,1066,T,$4358,...,8,1.5,18.0,140600.0,0.0,1,0,0.250,Email,ACT-1
1,credit card,"6,800",0,17.74,Revolving Credit,0.000,Branch,1041,B,"3,808.33",...,7,14.6,175.2,90400.0,0.0,1,0,0.284,Phone,ACT-1
2,credit card,"$3,400",0,19.42,Revolving Credit,0.000,Online,1001,W,"1,666.67",...,0,4.0,48.0,32400.0,0.0,5,1,0.050,Phone,ACT-1
3,credit card,"$12,000",0,20.95,Revolving Credit,0.000,Online,1098,D,"3,691.67",...,14,9.0,108.0,39100.0,NaN,0,0,0.347,Email,ACT-2
4,mortgage,"$279,900",360,6.99,Refinance,0.798,Online,1067,H,"$3,425.00",...,5,8.7,104.4,47900.0,0.0,2,0,0.239,Email,ACT-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,mortgage,$275000,360,5.72,Refinance,0.844,Broker,1015,L,$2717,...,12,14.2,170.4,25300.0,1.0,4,0,0.335,Email,ACTIVE
9997,personal,"8,200",24,10.36,Major Purchase,0.000,Branch,1000,E,$2258,...,5,0.6,7.2,58700.0,0.0,3,0,0.129,Email,ACTIVE
9998,personal,"17,700",48,11.59,Major Purchase,0.000,Branch,1011,F,"$1,950.00",...,10,2.0,24.0,49400.0,1.0,1,0,0.291,Phone,ACTIVE
9999,personal,"$19,900",60,12.94,Medical,0.000,Branch,1068,O,"2,900.00",...,2,4.4,52.8,59500.0,0.0,0,0,0.176,Mail,ACTIVE
10000,personal,"$22,800",24,12.32,Home Improvement,0.000,Online,1011,Z,"2,591.67",...,11,14.5,174.0,25700.0,0.0,0,0,0.447,Phone,ACT-1

In [21]:
financial_cols = [
    'loan_amount',
    'monthly_income',
    'monthly_payment',
]

for col in financial_cols:
    df[col] = (
        df[col]
        .astype(str) # Ensure it's treated as a string series first
        .str.replace(r'[\$,]', '', regex=True)
        .astype(float)
    )

In [26]:
df

,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign,monthly_income,...,num_credit_accounts,oldest_credit_line_age,oldest_account_age_months,total_credit_limit,num_delinquencies_2yrs,num_inquiries_6mo,num_collections,account_diversity_index,preferred_contact,account_status_code
0,personal,11300.0,24,10.26,Debt Consolidation,0.000,Online,1066,T,4358.00,...,8,1.5,18.0,140600.0,0.0,1,0,0.250,Email,ACT-1
1,credit card,6800.0,0,17.74,Revolving Credit,0.000,Branch,1041,B,3808.33,...,7,14.6,175.2,90400.0,0.0,1,0,0.284,Phone,ACT-1
2,credit card,3400.0,0,19.42,Revolving Credit,0.000,Online,1001,W,1666.67,...,0,4.0,48.0,32400.0,0.0,5,1,0.050,Phone,ACT-1
3,credit card,12000.0,0,20.95,Revolving Credit,0.000,Online,1098,D,3691.67,...,14,9.0,108.0,39100.0,NaN,0,0,0.347,Email,ACT-2
4,mortgage,279900.0,360,6.99,Refinance,0.798,Online,1067,H,3425.00,...,5,8.7,104.4,47900.0,0.0,2,0,0.239,Email,ACT-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,mortgage,275000.0,360,5.72,Refinance,0.844,Broker,1015,L,2717.00,...,12,14.2,170.4,25300.0,1.0,4,0,0.335,Email,ACTIVE
9997,personal,8200.0,24,10.36,Major Purchase,0.000,Branch,1000,E,2258.00,...,5,0.6,7.2,58700.0,0.0,3,0,0.129,Email,ACTIVE
9998,personal,17700.0,48,11.59,Major Purchase,0.000,Branch,1011,F,1950.00,...,10,2.0,24.0,49400.0,1.0,1,0,0.291,Phone,ACTIVE
9999,personal,19900.0,60,12.94,Medical,0.000,Branch,1068,O,2900.00,...,2,4.4,52.8,59500.0,0.0,0,0,0.176,Mail,ACTIVE
10000,personal,22800.0,24,12.32,Home Improvement,0.000,Online,1011,Z,2591.67,...,11,14.5,174.0,25700.0,0.0,0,0,0.447,Phone,ACT-1

In [25]:
financial_cols = [
    'existing_monthly_debt',

]

for col in financial_cols:
    df[col] = (
        df[col]
        .astype(str) # Ensure it's treated as a string series first
        .str.replace(r'[\$,]', '', regex=True)
        .astype(float)
    )

In [29]:
df.isnull().sum()

loan_type                       0
loan_amount                     0
loan_term                       0
interest_rate                   0
loan_purpose                    0
loan_to_value_ratio             0
origination_channel             0
loan_officer_id                 0
marketing_campaign              0
monthly_income                  0
existing_monthly_debt           0
monthly_payment                 0
debt_service_ratio              0
payment_to_income_ratio         0
credit_utilization              0
credit_usage_amount             0
available_credit                0
total_monthly_debt_payment      0
loan_to_annual_income           0
total_debt_amount               0
monthly_free_cash_flow          0
age                             0
employment_length             247
employment_type                 0
education                       0
marital_status                  0
num_dependents                  0
state                           0
regional_unemployment_rate      0
regional_median_income          0
regional_median_rent            0
housing_price_index             0
cost_of_living_index            0
credit_score                    0
num_credit_accounts             0
oldest_credit_line_age          0
oldest_account_age_months       0
total_credit_limit              0
num_delinquencies_2yrs        114
num_inquiries_6mo               0
num_collections                 0
account_diversity_index         0
preferred_contact               0
account_status_code             0
dtype: int64

In [31]:
247/10000

0.0247

In [32]:
df['employment_length'].fillna(df['employment_length'].median(), inplace=True)

/tmp/ipykernel_17926/3276802144.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['employment_length'].fillna(df['employment_length'].median(), inplace=True)

In [33]:
df['num_delinquencies_2yrs']= df['num_delinquencies_2yrs'].fillna(df['num_delinquencies_2yrs'].median())

In [35]:
df.isnull().sum()

loan_type                     0
loan_amount                   0
loan_term                     0
interest_rate                 0
loan_purpose                  0
loan_to_value_ratio           0
origination_channel           0
loan_officer_id               0
marketing_campaign            0
monthly_income                0
existing_monthly_debt         0
monthly_payment               0
debt_service_ratio            0
payment_to_income_ratio       0
credit_utilization            0
credit_usage_amount           0
available_credit              0
total_monthly_debt_payment    0
loan_to_annual_income         0
total_debt_amount             0
monthly_free_cash_flow        0
age                           0
employment_length             0
employment_type               0
education                     0
marital_status                0
num_dependents                0
state                         0
regional_unemployment_rate    0
regional_median_income        0
regional_median_rent          0
housing_price_index           0
cost_of_living_index          0
credit_score                  0
num_credit_accounts           0
oldest_credit_line_age        0
oldest_account_age_months     0
total_credit_limit            0
num_delinquencies_2yrs        0
num_inquiries_6mo             0
num_collections               0
account_diversity_index       0
preferred_contact             0
account_status_code           0
dtype: int64

In [36]:
numeric_columns = df.select_dtypes(exclude='object')
object_columns = df.select_dtypes(include='object')

In [37]:
objects_num_column = pd.get_dummies(object_columns, drop_first=True)

In [38]:
final_df = pd.concat([objects_num_column, numeric_columns], axis=1)

In [39]:
final_df

,loan_type_credit card,loan_type_mortgage,loan_type_personal,loan_purpose_Home Improvement,loan_purpose_Home Purchase,loan_purpose_Major Purchase,loan_purpose_Medical,loan_purpose_Other,loan_purpose_Refinance,loan_purpose_Revolving Credit,...,cost_of_living_index,credit_score,num_credit_accounts,oldest_credit_line_age,oldest_account_age_months,total_credit_limit,num_delinquencies_2yrs,num_inquiries_6mo,num_collections,account_diversity_index
0,False,False,True,False,False,False,False,False,False,False,...,73.0,770,8,1.5,18.0,140600.0,0.0,1,0,0.250
1,True,False,False,False,False,False,False,False,False,True,...,130.0,733,7,14.6,175.2,90400.0,0.0,1,0,0.284
2,True,False,False,False,False,False,False,False,False,True,...,118.0,660,0,4.0,48.0,32400.0,0.0,5,1,0.050
3,True,False,False,False,False,False,False,False,False,True,...,116.0,605,14,9.0,108.0,39100.0,0.0,0,0,0.347
4,False,True,False,False,False,False,False,False,True,False,...,86.0,721,5,8.7,104.4,47900.0,0.0,2,0,0.239
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,False,True,False,False,False,False,False,False,True,False,...,74.0,688,12,14.2,170.4,25300.0,1.0,4,0,0.335
9997,False,False,True,False,False,True,False,False,False,False,...,93.0,747,5,0.6,7.2,58700.0,0.0,3,0,0.129
9998,False,False,True,False,False,True,False,False,False,False,...,95.0,694,10,2.0,24.0,49400.0,1.0,1,0,0.291
9999,False,False,True,False,False,False,True,False,False,False,...,85.0,682,2,4.4,52.8,59500.0,0.0,0,0,0.176
10000,False,False,True,True,False,False,False,False,False,False,...,113.0,762,11,14.5,174.0,25700.0,0.0,0,0,0.447

In [42]:
final_df.to_csv('final_validation_set.csv', index=False)